<%= form_for (@faq) do |f| %>
  <% if @faq.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faq.errors.count, "error") %> prohibited this FAQ from being saved:</h2>
      <ul>
      <% @faq.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="container"> 
    <div class="row">
      <div class="col-md-11">
        <div class="field">
          <%= f.label t("activerecord.attributes.faq.question") %><%= mark_if_required(@faq, :question) %><br>
          <%= f.text_field :question, :class => "col-md-11" %>
        </div>
      </div>
    </div> 
    <br>
    <div class="row">
      <div class="col-md-11">
        <div class="field">
          <%= f.label t("activerecord.attributes.faq.answer") %><%= mark_if_required(@faq, :answer) %><br>
          <%= f.bootsy_area :answer, :rows => 10, :class => "col-md-11"%>
        </div>
      </div>
    </div>
    <% if Faq.validators.map(&:class).include? ActiveRecord::Validations::PresenceValidator %>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5>
            <%= f.label t("layouts.asterisk_description"),  class: "control-label" %>
          </h5>
        </div>
      </div>
    <% end %>
    <br>
    <div class="actions">
      <%= f.submit t("links.save"), :class => "btn btn-default" %>
    </div>
<% end %>
