<%= simple_form_for faq do |f| %>

  <%= render 'shared/object_errors', object: faq %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t("activerecord.attributes.faq.question") %></h4>
    </div>
    <%= f.input :question %>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t("activerecord.attributes.faq.answer") %></h4>
    </div>
    <%= f.bootsy_area :answer, rows: 10, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit t("links.save"), class: "btn btn-warning pull-right" %>
  </div>
<% end %>
