<%= form_for (faq) do |f| %>
  
  <%= render 'shared/object_errors', object: faq %>
  
  <div class="container"> 
    <div class="row">
      <div class="col-md-11">
        <div class="field">
          <%= f.label t("activerecord.attributes.faq.question") %><br>
          <%= f.text_field :question, :class => "col-md-11" %>
        </div>
      </div>
    </div> 
    <br>
    <div class="row">
      <div class="col-md-11">
        <div class="field">
          <%= f.label t("activerecord.attributes.faq.answer") %><br>
          <%= f.bootsy_area :answer, :rows => 10, :class => "col-md-11"%>
        </div>
      </div>
    </div>
    <br>
    <div class="actions">
      <%= f.submit t("links.save"), :class => "btn btn-default" %>
    </div>

  </div>
  
<% end %>
