<p id="notice"><%= notice %></p>

<div class="panel panel-default panel-body">
  <div class="container">
    <div class="col-md-11">
      <h4> <%= @faq.question %> </h4>
      <br>
      <p> <%= @faq.answer %> </p>
      <br>
      <%= link_to 'Edit', edit_faq_path(@faq), :class => "btn btn-default" %>
      <%= link_to t("helpers.links.back"), faqs_path, :class => "btn btn-default" %>
      <br>
    </div>
  </div>
</div> 
