<ul class="list-group cv-entry-fields cv-education">
  <a class="btn btn-default cv-remove" data-id=".cv-education" href="#"><%= t("students.remove_education") %></a>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        <%= label_field form, :degree, t("activerecord.attributes.cv_entry.degree") %>
      </div>
      <div class="col-sm-9">
        <%= form.input :degree %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        <%= label_field form, :field, t("activerecord.attributes.cv_entry.field") %>
      </div>
      <div class="col-sm-9">
        <%= form.input :field %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        <%= label_field form, :institution, t("activerecord.attributes.cv_entry.institution") %>
      </div>
      <div class="col-sm-9">
        <%= form.input :institution %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        <%= label_field form, :start_date, t("activerecord.attributes.cv_entry.start_date") %>
      </div>
      <div class="col-sm-9">
        <%= form.input :start_date, discard_day: true, start_year: 1940 %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        <%= label_field form, :end_date, t("activerecord.attributes.cv_entry.end_date") %>
      </div>
      <div class="col-sm-9">
        <%= form.input :end_date, discard_day: true, start_year: 1940 %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        <%= label_field form, :current, t("activerecord.attributes.cv_entry.current_education") %>
      </div>
      <div class="col-sm-9">
        <%= form.input :current %>
      </div>
    </div>
  </li>
</ul>