<%= form_for @student, :html => { :multipart => true }  do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :semester %><br>
    <%= f.number_field :semester %>
  </div>
  <div class="field">
    <%= f.label :academic_program %><br>
    <%= f.text_field :academic_program %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday, :start_year => Time.now.year - 40, :end_year => Time.now.year - 15 %>
  </div>
  <div class="field">
    <%= f.label :education %><br>
    <%= f.text_area :education %>
  </div>
  <div class="field">
    <%= f.label :additional_information %><br>
    <%= f.text_area :additional_information %>
  </div>
  <div class="field">
    <%= f.label :homepage %><br>
    <%= f.text_field :homepage %>
  </div>
  <div class="field">
    <%= f.label :github %><br>
    <%= f.text_field :github %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :xing %><br>
    <%= f.text_field :xing %>
  </div>
  <div class="field">
    <%= f.label :linkedin %><br>
    <%= f.text_field :linkedin %>
  </div>
  <div class="field">
    <%= f.label :languages %><br>
    <%=  collection_check_boxes(:student, :language_ids, Language.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :programming_languages %><br>
    <%=  collection_check_boxes(:student, :programming_language_ids, ProgrammingLanguage.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
     <% if !(@student.photo.path).nil? && File.file?(@student.photo.path)%>
      <%= image_tag(@student.photo.url, size: "80") %><br>
      <%= File.basename(@student.photo.path); %><br>
    <% end %>
    <%= f.file_field :photo %>
  </div>
  <div class="field">
    <%= f.label :cv %><br>
    <% if !(@student.cv.path).nil? && File.file?(@student.cv.path)%>
      <%= link_to(image_tag('file_thumbnails/pdf.png', size: "80"), @student.cv.url) %><br>
      <%= File.basename(@student.cv.path); %><br>
    <% end %>
    <%= f.file_field :cv %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
