<%= simple_form_for user, url: student_path(user.id), html: { multipart: true, class: 'form-horizontal', role: 'form' } do |f| %>

  <%= render 'shared/object_errors', object: user %>

  <div class="row">
    <!--   Left -->
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= t("activerecord.attributes.user.general_information") %></h4></div>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= f.label :firstname, t("activerecord.attributes.user.first_name"), class: "control-label" %><%= mark_if_required(user, :firstname) %>
                </div>
                <div class="col-sm-9">
                  <%= f.input :firstname, :disabled => true %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= f.label :lastname, t("activerecord.attributes.user.last_name"), class: "control-label" %><%= mark_if_required(user, :lastname) %>
                </div>
                <div class="col-sm-9">
                  <%= f.input :lastname, :disabled => true %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= f.label :email, class: "control-label" %><%= mark_if_required(user, :email) %>
                </div>
                <div class="col-sm-9">
                  <%= f.input :email %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= f.label :user_status, t("activerecord.attributes.user.status"), class: "control-label" %><%= mark_if_required(user, :user_status) %>
                </div>
                <div class="col-sm-9">
                 <%= f.association :user_status, default: 1 %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= f.label :birthday, t("activerecord.attributes.user.birthday"), class: "control-label" %><%= mark_if_required(user, :birthday) %>
                </div>
                <div class="col-sm-9">
                  <%= f.date_select :birthday, {start_year: 1940}, { :class => 'birthdate_select form-control col-sm-4'} %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= f.label :photo, t("activerecord.attributes.user.photo"), class: "control-label" %><%= mark_if_required(user, :photo) %>
                </div>
                <div class="col-sm-9">
                  <% if !user.new_record? && !user.photo.nil? %>
                    <%= image_tag(user.photo.url, size: "150", class: "img-thumbnail")  %><br><br>
                  <% end %>
                  <%= f.file_field :photo, accept: 'image/jpeg,image/png,image/gif' %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= f.label :cv, t("activerecord.attributes.user.cv"), class: "control-label" %><%= mark_if_required(user, :cv) %>
                </div>
                <div class="col-sm-9">
                  <% if !user.new_record? %>
                    <% if (user.cv.path).nil? || !File.file?(user.cv.path) %>
                      <%= image_tag('file_thumbnails/missing.png', size: "80") %>
                    <% else %>
                      <%= link_to(image_tag('file_thumbnails/pdf.png', size: "80"), user.cv.url) %><br><br><%= File.basename(user.cv.path); %>
                    <% end %>
                  <% end %>
                  <br><br>
                  <%= f.file_field :cv, accept: 'application/pdf' %>
                </div>
              </div>
            </li>
          </ul>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= t("activerecord.attributes.user.programming_languages") %></h4></div>
          <ul class="list-group">
            <%= fields_for :programming_languages do |f2| %>
            <% if @all_programming_languages %>
              <% @all_programming_languages.each do |programming_language| %>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-sm-3">
                    <%# Erstelle ein Label fuer jede Programmiersprache %>
                    <%= f2.label programming_language.name, class: "control-label" %>
                    </div>
                    <div class="col-sm-9">
                      <%# Schau nach, ob es bereits eine Angabe der Skill-Wertung fuer die Programmierspr. gibt %>
                      <% if !user.new_record? %>
                        <% pl = ProgrammingLanguagesUser.find_by_user_id_and_programming_language_id(user.id,programming_language.id) %>
                      <% end %>
                      <%# Erzeuge 5 radio buttons fuer die Sterne %>
                      <% (1..5).each do |i| %>
                        <%# Falls es eine Angabe gibt, ueberpruefe, ob der aktuelle Stern der Angabe enspricht %>
                          <% if pl %>
                            <% if i == pl.skill %>
                              <%= f2.radio_button programming_language.id, i, :checked => "checked", :class=>"star" %>
                            <% else %>
                              <%= f2.radio_button programming_language.id, i, :class=>"star" %>
                            <% end %>
                          <%# Erzeuge sonst einen unchecked radio button %>
                          <% else %>
                            <%= f2.radio_button programming_language.id, i, :class=>"star" %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                  </li>
                <% end %>
              <% end %>
            <% end %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-12"><%= t("layouts.star_description") %></div>
              </div>
            </li>
          </ul>
        </div>

      <div class="panel panel-default">
      <div class="panel-heading"data-toggle="collapse" data-target="#programming_language_newsletter">
          <h4><%= t("students.programming_language_newsletter") %></h4>
      </div>
        <div id="programming_language_newsletter" class="panel-collapse collapse">
          <%= fields_for :programming_languages_newsletter_information do |f2| %>
          <% if @all_programming_languages %>
            <% @all_programming_languages.each do |programming_language| %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-3">
                  <%# Erstelle ein Label fuer jede Programmiersprache %>
                  <%= f2.label programming_language.name, class: "control-label" %>
                  </div>
                  <div class="col-sm-9">
                    <%# Schau nach, ob es bereits eine Angabe der Skill-Wertung fuer die Programmierspr. gibt %>
                    <% if !@user.new_record? %>
                      <% pl = ProgrammingLanguagesNewsletterInformation.find_by_user_id_and_programming_language_id(@user.id,programming_language.id) %>
                    <% end %>
                      <%# Falls es eine Angabe gibt, ueberpruefe, ob der aktuelle Stern der Angabe enspricht %>
                        <% if pl %>
                          <%= f2.check_box programming_language.id, :checked => "checked" %>
                          <% else %>
                            <%= f2.check_box programming_language.id %>
                          <% end %>
                         </div>
                  </div>
                </li>
            <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  <!--     Right -->
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= t("users.carrier") %></h4></div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                <%= f.label :academic_program, t("activerecord.attributes.user.academic_program"), class: "control-label" %><%= mark_if_required(user, :academic_program) %>
              </div>
              <div class="col-sm-9">
                <%= f.select :academic_program, [
                  t("activerecord.attributes.user.academic_rank_options.bachelor"),
                  t("activerecord.attributes.user.academic_rank_options.master"),
                  t("activerecord.attributes.user.academic_rank_options.phd"),
                  t("activerecord.attributes.user.academic_rank_options.others")
                  ], {}, class: "select form-control" %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                <%= f.label :semester, t("activerecord.attributes.user.semester"), class: "control-label" %><%= mark_if_required(user, :semester) %>
              </div>
              <div class="col-sm-9">
                <%= f.input :semester, as: :integer %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                <%= f.label :education, t("activerecord.attributes.user.education"), class: "control-label" %><%= mark_if_required(user, :education) %>
              </div>
              <div class="col-sm-9">
                <%= f.select :education, [
                  t("activerecord.attributes.user.education_options.abitur"),
                  t("activerecord.attributes.user.education_options.secondary_education"),
                  t("activerecord.attributes.user.education_options.bachelor"),
                  t("activerecord.attributes.user.education_options.master"),
                  t("activerecord.attributes.user.education_options.phd"),
                  t("activerecord.attributes.user.education_options.others")
                  ], {}, class: "select form-control" %>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= t("activerecord.attributes.user.languages") %></h4></div>
        <ul class="list-group">
          <%= fields_for :languages do |f3| %>
            <% if @all_languages %>
              <% @all_languages.each do |language| %>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-sm-3">
                      <%# Erstelle ein Label fuer jede Programmiersprache %>
                      <%= f3.label t("languages." + language.name), class: "control-label" %>
                    </div>
                    <div class="col-sm-9">
                      <%# Schau nach, ob es bereits eine Angabe der Skill-Wertung fuer die Programmierspr. gibt %>
                      <% if !user.new_record? %>
                        <% l = LanguagesUser.find_by_user_id_and_language_id(user.id,language.id) %>
                      <% end %>
                      <%# Erzeuge 5 radio buttons fuer die Sterne %>
                      <% (1..5).each do |i| %>
                        <%# Falls es eine Angabe gibt, ueberpruefe, ob der aktuelle Stern der Angabe enspricht %>
                        <% if l %>
                          <% if i == l.skill %>
                            <%= f3.radio_button language.id, i, :checked => "checked", :class=>"star" %>
                          <% else %>
                            <%= f3.radio_button language.id, i, :class=>"star" %>
                          <% end %>
                        <%# Erzeuge sonst einen unchecked radio button %>
                        <% else %>
                          <%= f3.radio_button language.id, i, :class=>"star" %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
          <% end %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-12"><%= t("layouts.star_description") %></div>
            </div>
          </li>
        </ul>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h4>Links</h4></div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                 <%= fa_icon "home 2x", class: "control-label"%>
              </div>
              <div class="col-sm-9">
                <%= f.input :homepage %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                 <%= fa_icon "github-square 2x", class: "control-label"%>
              </div>
              <div class="col-sm-9">
                <%= f.input :github %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                 <%= fa_icon "facebook-square 2x", class: "control-label"%>
              </div>
              <div class="col-sm-9">
                <%= f.input :facebook %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                 <%= fa_icon "xing-square 2x", class: "control-label"%>
              </div>
              <div class="col-sm-9">
                <%= f.input :xing %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                 <%= fa_icon "linkedin-square 2x", class: "control-label"%>
              </div>
              <div class="col-sm-9">
                <%= f.input :linkedin %>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= t("activerecord.attributes.user.additional_information") %></h4></div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-12">
                <%= f.bootsy_area :additional_information, rows: "10", class: "form-control", type:"text"%>
              </div>
            </div>
          </li>
        </ul>
      </div>
    <div class="panel panel-default">
    <div class="panel-heading"  data-toggle="collapse" data-target="#employer_newsletter"><h4><%= t("students.employers_newsletter") %></h4></div>
      <div id="employer_newsletter" class="panel-collapse collapse">
        <%= fields_for :employers_newsletter_information do |f2| %>
        <% if @all_employers %>
          <% @all_employers.each do |employer| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-9">
                <%# Erstelle ein Label fuer jede Programmiersprache %>
                <%= f2.label employer.name, employer.name, class: "control-label" %>
                </div>
                <div class="col-sm-3">
                  <%# Schau nach, ob es bereits eine Angabe der Skill-Wertung fuer die Programmierspr. gibt %>
                  <% if !@user.new_record? %>
                    <% pl = EmployersNewsletterInformation.find_by_user_id_and_employer_id(@user.id,employer.id) %>
                  <% end %>
                    <%# Falls es eine Angabe gibt, ueberpruefe, ob der aktuelle Stern der Angabe enspricht %>
                      <% if pl %>
                        <%= f2.check_box employer.id, :checked => "checked"%>
                      <% else %>
                          <%= f2.check_box employer.id %>
                      <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if User.validators.map(&:class).include? ActiveRecord::Validations::PresenceValidator %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5>
            <%= t("layouts.asterisk_description") %>
          </h5>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="pull-right"><%= f.button :submit, t("links.save"), class: 'btn btn-warning' %></div>
<% end %>
