<ul class="list-group cv-entry-fields cv-work">
  <a class="btn btn-default cv-remove" data-id=".cv-work" href="#">Remove Work Experience</a>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        <%= label_field form, :position, t("activerecord.attributes.cv_jobs.position") %>
      </div>
      <div class="col-sm-9">
        <%= form.input :position %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        <%= label_field form, :employer, t("activerecord.attributes.cv_jobs.employer") %>
      </div>
      <div class="col-sm-9">
        <%= form.input :employer %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        <%= label_field form, :start_date, t("activerecord.attributes.cv_jobs.start_date") %>
      </div>
      <div class="col-sm-9">
        <%= form.input :start_date, discard_day: true, start_year: 1940 %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        <%= label_field form, :end_date, t("activerecord.attributes.cv_jobs.end_date") %>
      </div>
      <div class="col-sm-9">
        <%= form.input :end_date, discard_day: true, start_year: 1940 %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        <%= label_field form, :current, t("activerecord.attributes.cv_jobs.current") %>
      </div>
      <div class="col-sm-9">
        <%= form.input :current %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-sm-3">
        <%= label_field form, :description, t("activerecord.attributes.cv_jobs.description") %>
      </div>
      <div class="col-sm-9">
        <%= form.input :description %>
      </div>
    </div>
  </li>
</ul>