<% if ( !(student.homepage).nil? && !(student.homepage).empty? ) || ( !(student.github).nil? && !(student.github).empty? ) || ( !(student.facebook).nil? && !(student.facebook).empty? ) || ( !(student.xing).nil? && !(student.xing).empty? ) || ( !(student.linkedin).nil? && !(student.linkedin).empty? ) %>
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("activerecord.attributes.student.links")%></h4></div>
      <ul class="list-group">
        <% unless student.homepage.blank? %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-4">
                <%= fa_icon "home 2x"%>
              </div>
              <div class="col-sm-8">
                <%= link_to student.homepage, url_with_protocol(student.homepage), :target => '_blank' %>
              </div>
            </div>
          </li>
        <% end %>
        <% unless student.github.blank? %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-4">
                <%= fa_icon "github-square 2x"%>
              </div>
              <div class="col-sm-8">
                <%= link_to student.github, url_with_protocol(student.github), :target => '_blank' %>
              </div>
            </div>
          </li>
        <% end %>
        <% unless student.facebook.blank? %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-4">
                <%= fa_icon "facebook-square 2x"%>
              </div>
              <div class="col-sm-8">
                <%= link_to student.facebook, url_with_protocol(student.facebook), :target => '_blank' %>
              </div>
            </div>
          </li>
        <% end %>
        <% unless student.xing.blank? %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-4">
                <%= fa_icon "xing-square 2x"%>
              </div>
              <div class="col-sm-8">
                <%= link_to student.xing, url_with_protocol(student.xing), :target => '_blank' %>
              </div>
            </div>
          </li>
        <% end %>
        <% unless student.linkedin.blank? %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-4">
                <%= fa_icon "linkedin-square 2x"%>
              </div>
              <div class="col-sm-8">
                <%= link_to student.linkedin, url_with_protocol(student.linkedin), :target => '_blank' %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class = "col-sm-6">
  <br>
  <center>
    <%= image_tag(@student.user.photo.url, size: "200", class: "img-thumbnail")  %>
  </center>
  <br>
</div>
<div class="col-sm-6">

  <% if student.programming_languages_users.any? %>
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("activerecord.attributes.student.programming_languages")%></h4></div>
      <ul class="list-group">
        <% student.programming_languages_users.each do |programming_languages_users| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-4">
                <%= programming_languages_users.programming_language.name %>
              </div>
              <div class="col-sm-8">
                <% (1..5).each do |i| %>
                  <%= radio_button_tag programming_languages_users.programming_language.name, i, i==programming_languages_users.skill, disabled: true, class: "star" %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if student.cv_jobs.any? || student.cv_educations.any? %>
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("users.cv") %></h4></div>
      <% if student.cv_jobs.any? %>
        <div class="cv-list">
          <h5><%= t("students.work_experience") %></h5>
          <%= render partial: 'cv_job', collection: student.cv_jobs, as: :job %>
        </div>
      <% end %>
      <% if student.cv_educations.any? %>
        <div class="cv-list">
          <h5><%= t("students.education") %></h5>
          <%= render partial: 'cv_education', collection: student.cv_educations, as: :education %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if student.languages_users.any? %>
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("activerecord.attributes.student.languages")%></h4></div>
      <ul class="list-group">
        <% student.languages_users.each do |languages_user| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-4">
                <%= t("languages." + languages_user.language.name) %>
              </div>
              <div class="col-sm-8">
                <% (1..5).each do |i| %>
                  <%= radio_button_tag languages_user.language.name, i, i==languages_user.skill, disabled: true, class: "star" %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if !(student.additional_information).nil? && !(student.additional_information).empty?%>
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("activerecord.attributes.student.additional_information")%></h4></div>
        <table class="table">
          <thead></thead>
          <tbody>
            <tr>
              <td>
                <%= simple_format(student.additional_information.html_safe) %>
              </td>
             </tr>
          </tbody>
        </table>
    </div>
  <% end %>
</div>