<%= link_to "Import from LinkedIn", request_linkedin_import_student_path(student) %>
<%= form.simple_fields_for :user, student.user do |user_form| %>
  <div class="panel panel-default">
    <div class="panel-heading"><h4><%= t("activerecord.attributes.user.login_information") %></h4></div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= label_field user_form, :firstname, t("activerecord.attributes.user.first_name") %>
            </div>
            <div class="col-sm-9">
              <div class="input select optional user_user_status">
                <%= user_form.input :firstname %>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= label_field user_form, :lastname, t("activerecord.attributes.user.lastname") %>
            </div>
            <div class="col-sm-9">
              <div class="input select optional user_user_status">
                <%= user_form.input :lastname %>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= label_field user_form, :email, t("activerecord.attributes.user.email") %>
            </div>
            <div class="col-sm-9">
              <div class="input select optional user_user_status">
                <%= user_form.input :email %>
              </div>
            </div>
          </div>
        </li>
      </ul>
  </div>
<% end %>


<div class="row">
  <!--   Left -->
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("activerecord.attributes.user.general_information") %></h4></div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                <%= form.label :employment_status, t("activerecord.attributes.user.status"), class: "control-label" %><%= mark_if_required(student, :employment_status) %>
              </div>
              <div class="col-sm-9">
                <%= form.select :employment_status_id, Student::EMPLOYMENT_STATUSES.collect {|status| [ t("activerecord.attributes.user_status." +  status), Student::EMPLOYMENT_STATUSES.index(status) ] }, {}, {id: 'employment_status_id', class: 'select optional form-control'} %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                <%= form.label :birthday, t("activerecord.attributes.user.birthday"), class: "control-label" %><%= mark_if_required(student, :birthday) %>
              </div>
              <div class="col-sm-9">
                <%= form.date_select :birthday, {start_year: 1940}, { :class => 'birthdate_select form-control col-sm-4'} %>
              </div>
            </div>
          </li>
        </ul>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("activerecord.attributes.user.programming_languages") %></h4></div>
        <ul class="list-group">
          <%= simple_fields_for :programming_languages do |f2| %>
            <% if @programming_languages %>
              <% @programming_languages.each do |programming_language| %>
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-sm-3">
                      <%= f2.label programming_language.name, class: "control-label" %>
                    </div>
                    <div class="col-sm-9">
                      <% if student.persisted? %>
                        <% language_skill = ProgrammingLanguagesUser.find_by_student_id_and_programming_language_id(student.id,programming_language.id) %>
                      <% end %>
                      <% (1..5).each do |i| %>
                        <% if language_skill && i == language_skill.skill %>
                          <%= radio_button :programming_language_skills, programming_language.id, i, :checked => "checked", :class => "star" %>
                        <% else %>
                          <%= radio_button :programming_language_skills, programming_language.id, i, :class => "star" %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </li>
              <% end %>
            <% end %>
          <% end %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-12"><%= t("layouts.star_description_prog") %></div>
            </div>
          </li>
        </ul>
      </div>
  </div>

  <!--     Right -->
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("users.carrier") %></h4></div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= form.label :academic_program, t("activerecord.attributes.user.academic_program"), class: "control-label" %><%= mark_if_required(student, :academic_program) %>
            </div>
            <div class="col-sm-9">
              <%= form.select :academic_program, [
                t("activerecord.attributes.user.academic_rank_options.bachelor"),
                t("activerecord.attributes.user.academic_rank_options.master"),
                t("activerecord.attributes.user.academic_rank_options.phd"),
                t("activerecord.attributes.user.academic_rank_options.others")
                ], {}, class: "select form-control" %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= form.label :semester, t("activerecord.attributes.user.semester"), class: "control-label" %><%= mark_if_required(student, :semester) %>
            </div>
            <div class="col-sm-9">
              <%= form.input :semester, as: :integer %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= form.label :education, t("activerecord.attributes.user.education"), class: "control-label" %><%= mark_if_required(student, :education) %>
            </div>
            <div class="col-sm-9">
              <%= form.select :education, [
                t("activerecord.attributes.user.education_options.abitur"),
                t("activerecord.attributes.user.education_options.secondary_education"),
                t("activerecord.attributes.user.education_options.bachelor"),
                t("activerecord.attributes.user.education_options.master"),
                t("activerecord.attributes.user.education_options.phd"),
                t("activerecord.attributes.user.education_options.others")
                ], {}, class: "select form-control" %>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("activerecord.attributes.user.languages") %></h4></div>
      <ul class="list-group">
        <%= simple_fields_for :languages do |f3| %>
          <% if @languages %>
            <% @languages.each do |language| %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-3">
                    <%= f3.label t("languages." + language.name), class: "control-label" %>
                  </div>
                  <div class="col-sm-9">
                    <% if student.persisted? %>
                      <% language_skill = LanguagesUser.find_by_student_id_and_language_id(student.id,language.id) %>
                    <% end %>
                    <% (1..5).each do |i| %>
                      <% if language_skill && i == language_skill.skill %>
                        <%= radio_button :language_skills, language.id, i, :checked => "checked", :class => "star" %>
                      <% else %>
                        <%= radio_button :language_skills, language.id, i, :class => "star" %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-12"><%= t("layouts.star_description_lang") %></div>
          </div>
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h4>Links</h4></div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
               <%= fa_icon "home 2x", class: "control-label"%>
            </div>
            <div class="col-sm-9">
              <%= form.input :homepage %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
               <%= fa_icon "github-square 2x", class: "control-label"%>
            </div>
            <div class="col-sm-9">
              <%= form.input :github %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
               <%= fa_icon "facebook-square 2x", class: "control-label"%>
            </div>
            <div class="col-sm-9">
              <%= form.input :facebook %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
               <%= fa_icon "xing-square 2x", class: "control-label"%>
            </div>
            <div class="col-sm-9">
              <%= form.input :xing %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
               <%= fa_icon "linkedin-square 2x", class: "control-label"%>
            </div>
            <div class="col-sm-9">
              <%= form.input :linkedin %>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("activerecord.attributes.user.additional_information") %></h4></div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-12">
              <%= form.bootsy_area :additional_information, rows: "10", class: "form-control", type:"text"%>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("students.newsletter_headline") %></h4></div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-12"><%= t("students.newsletter_description") %></div>
          </div>
        </li>
      </ul>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"data-toggle="collapse" data-target="#programming_language_newsletter">
        <h4><%= t("students.programming_language_newsletter") %></h4>
      </div>
      <div id="programming_language_newsletter" class="panel-collapse collapse">
        <%= fields_for :programming_languages_newsletter_information do |f2| %>
          <% if @programming_languages %>
            <% @programming_languages.each do |programming_language| %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-9">
                  <%= f2.label programming_language.name, programming_language.name, class: "control-label" %>
                  </div>
                  <div class="col-sm-3">
                    <% if student.persisted? %>
                      <% pl = ProgrammingLanguagesNewsletterInformation.find_by_student_id_and_programming_language_id(student.id,programming_language.id) %>
                    <% end %>
                    <% if pl %>
                      <%= f2.check_box programming_language.id, :checked => "checked"%>
                    <% else %>
                      <%= f2.check_box programming_language.id %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"  data-toggle="collapse" data-target="#employer_newsletter">
        <h4><%= t("students.employers_newsletter") %></h4>
      </div>
      <div id="employer_newsletter" class="panel-collapse collapse">
        <%= fields_for :employers_newsletter_information do |f2| %>
          <% if @employers %>
            <% @employers.each do |employer| %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-9">
                  <%= f2.label employer.name, employer.name, class: "control-label" %>
                  </div>
                  <div class="col-sm-3">
                    <% if student.persisted? %>
                      <% pl = EmployersNewsletterInformation.find_by_student_id_and_employer_id(student.id,employer.id) %>
                    <% end %>
                    <% if pl %>
                      <%= f2.check_box employer.id, :checked => "checked"%>
                    <% else %>
                      <%= f2.check_box employer.id %>
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if User.validators.map(&:class).include? ActiveRecord::Validations::PresenceValidator %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5>
            <%= t("layouts.asterisk_description") %>
          </h5>
        </div>
      </div>
    <% end %>
  </div>
</div>