<div class="panel panel-default">
  <div class="panel-heading"><h4><%= t("activerecord.attributes.user.login_information") %></h4></div>
    <ul class="list-group">
      <%= form.simple_fields_for :user, student.user do |user_form| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= label_field form, :group, t("activerecord.attributes.student.group") %>
            </div>
            <div class="col-sm-9">
              <div class="input select optional student_group">
                <%= form.select :group_id, Student::GROUPS.each_with_index.collect { |group, index| [t("activerecord.attributes.student.groups." + group), index] }, {}, {id: 'group_id', class:'select optional form-control'} %>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= label_field user_form, :firstname, t("activerecord.attributes.user.first_name") %>
            </div>
            <div class="col-sm-9">
              <div class="input select optional user_firstname">
                <%= user_form.input :firstname %>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= label_field user_form, :lastname, t("activerecord.attributes.user.last_name") %>
            </div>
            <div class="col-sm-9">
              <div class="input select optional user_lastname">
                <%= user_form.input :lastname %>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= label_field user_form, :email, t("activerecord.attributes.user.email") %>
            </div>
            <div class="col-sm-9">
              <div class="input select optional user_email">
                <%= user_form.input :email %>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= label_field user_form, :password, t("activerecord.attributes.user.password") %>
            </div>
            <div class="col-sm-9">
              <div class="input select optional user_password">
                <%= user_form.input :password %>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= label_field user_form, :password_confirmation, t("activerecord.attributes.user.password_confirmation") %>
            </div>
            <div class="col-sm-9">
              <div class="input select optional user_password_confirmation">
                <%= user_form.input :password_confirmation %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <%= label_field form, :semester, t("activerecord.attributes.user.semester") %>
          </div>
          <div class="col-sm-9">
            <div class="input select optional user_semester">
              <%= form.input :semester %>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <%= label_field form, :academic_program, t("activerecord.attributes.user.academic_program") %>
          </div>
          <div class="col-sm-9">
            <div class="input select optional user_academic_program">
              <%= form.select :academic_program_id, Student::ACADEMIC_PROGRAMS.each_with_index.collect { |program, index| [t("activerecord.attributes.user.academic_rank_options." + program), index] }, {}, {id: 'academic_program_id', class: 'select optional form-control'} %>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <%= label_field form, :terms_of_service, t("activerecord.attributes.student.terms_of_service") %>
          </div>
          <div class="col-sm-9">
            <div class="col-sm-3"><%= form.check_box :terms_of_service %></div>
              <div class="col-sm-6">
                <p>
                  Ich stimme den <%= link_to "AGB", asset_path("AGB HPI Connect.pdf"), class: "links"%> des HPI Connect Jobportals zu
                </p>
            </div>
          </div>
        </div>
      </li>
    </ul>
</div>
