<div class="wrapper-12 panel-wrapper">

  <%= simple_form_for @student do |f| %>
      <span class="pull-right" id="top-links">
        <%= f.submit t("links.save"), class: "btn btn-primary title-button" %>
      </span>

      <%= render 'shared/object_errors', object: @student %>
      <%= render 'profile_fields', student: @student, form: f %>
      <% if current_user.admin? %>
        <%= render 'hidden_profile_fields', student: @student, form: f %>
      <% end %>

      <br />
      <%= f.submit t("links.save"), class: "btn btn-primary pull-right" %>
  <% end %>
</div>