<div class="wrapper-12 panel-wrapper">
    
  <h1><%= t("users.edit_student") %></h1>

  <%= simple_form_for @student do |f| %>

      <%= render 'shared/object_errors', object: @student %>
      <%= render 'profile_fields', student: @student, form: f %>

      <br />
      <%= f.submit t("links.save"), class: "btn btn-primary pull-right" %>
  <% end %>
</div>