<div class="wrapper-12 panel-wrapper">
  <h1> <%= t("students.export_alumni") %> </h1>

  <%= form_tag export_alumni_students_path, method: :post, multipart: true do %>
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("students.export_alumni_choice") %></h4></div>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-12">
              <%= radio_button_tag 'which_alumni', 'registered', true %> <%= t("students.export_all_registered_alumni") %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-12">
              <%= radio_button_tag 'which_alumni', 'unregistered' %> <%= t("students.export_all_unregistered_alumni") %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-12">
              <%= radio_button_tag 'which_alumni', 'from_to' %> <%= t("students.export_alumni_from_to") %>
            </div>
            <div class="col-sm-12">
               <br />
               Registriert von <%= select_date Date.today - 6.months, prefix: :from_date %> bis <%= select_date Date.today, prefix: :to_date %>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <input type="submit" class="btn btn-primary pull-right" value="<%= t("links.export") %>" />
    <br /><br />
  <% end %>
</div>
