<div class="row">
  <div class="col-md-9">
    <h1><%= t("students.students_headline")%></h1>
      <br><br>
      <ul class="list-group">
      <% @users.each do |student| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-12">
              <%= link_to student.firstname+" "+student.lastname, student_path(student), :class => "h4" %>
              <%= link_to "Promote", student_path(student), :class => "btn btn-default", style: "float:right; " %>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
      <%= will_paginate @users, renderer: BootstrapPagination::Rails%>
  </div>
  <div class="col-md-3">
    <%= render 'studentsearch/search'%>
  </div>

</div>