<h1>Students</h1>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Semester</th>
      <th>Academic program</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.semester %></td>
        <td><%= user.academic_program %></td>
        <td><%= link_to 'Show', student_path(user.id), :class => "btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_student_path(user), :class => "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', student_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_user_path, :class => "btn btn-default" %>
