<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Semester</th>
      <th>Academic program</th>
      <th>Birthday</th>
      <th>Education</th>
      <th>Additional information</th>
      <th>Homepage</th>
      <th>Github</th>
      <th>Facebook</th>
      <th>Xing</th>
      <th>Linkedin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.semester %></td>
        <td><%= student.academic_program %></td>
        <td><%= student.birthday %></td>
        <td><%= student.education %></td>
        <td><%= student.additional_information %></td>
        <td><%= student.homepage %></td>
        <td><%= student.github %></td>
        <td><%= student.facebook %></td>
        <td><%= student.xing %></td>
        <td><%= student.linkedin %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
