<h1><%= t("students.students_headline")%></h1>

<table class="table">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.student.first_name")%></th>
      <th><%= t("activerecord.attributes.student.last_name")%></th>
      <th><%= t("activerecord.attributes.student.semester")%></th>
      <th><%= t("activerecord.attributes.student.academic_program")%></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.semester %></td>
        <td><%= user.academic_program %></td>
        <td><%= link_to t("links.show"), student_path(user.id), :class => "btn btn-info" %></td>
        <td><%= link_to t("links.edit"), edit_student_path(user), :class => "btn btn-warning" %></td>
        <td><%= link_to t("links.destroy"), student_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

 <%#= link_to t("students.new_student"), new_student_path, :class => "btn btn-default" %>
