<div class="row">
  <div class="col-md-9">
    <h1><%= t("users.students_headline")%></h1>
      <ul class="list-group">
      <% @users.each do |student| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-12">
              <%= link_to student.firstname+" "+student.lastname, student_path(student), :class => "h4" %>
              <% if user_can_promote_students? %>
                <button class="btn btn btn-default promote" style="float:right" data-id="<%= student.id %>" data-toggle="modal" data-target="#myModal"><%= t('students.promote_button')%></button>
              <%end%>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
      <%= will_paginate @users, renderer: BootstrapPagination::Rails%>
  </div>
  <div class="col-md-3">
    <%= render 'studentsearch/search'%>
  </div>

</div>

<% if user_is_deputy? %>
   <% promotion_roles = [Role.find_by_level(2).name, "Deputy"] %>
<% else %>
   <% chairs = Chair.all %>
   <% promotion_roles = [Role.find_by_level(2).name , Role.find_by_level(3).name, "Deputy"] %>
<%end%>
<%= render 'shared/change_role_dialog', path: update_role_students_path, button_title: t('students.promote_button'), render_chairs: user_is_admin?, roles: promotion_roles, confirm_question: t('students.promote_confirm_question') %>

