<div class="wrapper-12 panel-wrapper">
  <h1><%= t("users.new_student") %></h1>

  <%= simple_form_for @student do |f| %>

    <%= render 'shared/object_errors', object: @student %>
    <%= render 'registration_fields', student: @student, form: f %>


    <%= f.submit t("links.register"), class: "btn btn-primary pull-right" %>
  <% end %>
</div>