<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@student.photo.url, size: "150") %>
</p>
<p>
  <strong><%= t("student.first_name")%>:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong><%= t("student.last_name")%>:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong><%= t("student.semester")%>:</strong>
  <%= @student.semester %>
</p>

<p>
  <strong><%= t("student.academic_program")%>:</strong>
  <%= @student.academic_program %>
</p>

<p>
  <strong><%= t("student.birthday")%>:</strong>
  <%= l(@student.birthday) %>
</p>

<p>
  <strong><%= t("student.education")%>:</strong>
  <%= @student.education %>
</p>

<p>
  <strong><%= t("student.additional_information")%>:</strong>
  <%= @student.additional_information %>
</p>

<p>
  <strong><%= t("student.homepage")%>:</strong>
  <%= @student.homepage %>
</p>

<p>
  <strong><%= t("student.github")%>:</strong>
  <%= @student.github %>
</p>

<p>
  <strong><%= t("student.facebook")%>:</strong>
  <%= @student.facebook %>
</p>

<p>
  <strong><%= t("student.xing")%>:</strong>
  <%= @student.xing %>
</p>

<p>
  <strong><%= t("student.linkedin")%>:</strong>
  <%= @student.linkedin %>
</p>
<p>
  <strong><%= t("student.languages")%>:</strong>
  <% @student.languages.each do |language| %>
    <%= language.name %>
  <% end %>
</p>
<p>
  <strong><%= t("student.programming_languages")%>:</strong>
  <% @student.programming_languages.each do |programming_language| %>
    <%= programming_language.name %>
  <% end %>
</p>
<p>
  <strong><%= t("student.cv")%>:</strong>
  <% if (@student.cv.path).nil? %>
    <%= image_tag('file_thumbnails/missing.png', size: "16") %>
  <% else %>
    <%= link_to(image_tag('file_thumbnails/pdf.png', size: "16"), @student.cv.url) %>
    <%= File.basename(@student.cv.path); %><br>
  <% end %>
</p>

<%= link_to t("links.edit"), edit_student_path(@student) %> |
<%= link_to t("links.back"), students_path %>
