<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-8">
        <h1><%= @user.firstname %> <%= @user.lastname %></h1>
        <blockquote>
          <% if !(@user.user_status).nil? %>
            <p><%= @user.user_status.name %></p>
          <% end %>
        </blockquote>
      </div>
      <div class="col-xs-4">
    <p>
      <%= image_tag(@user.photo.url, size: "150", class: "img-thumbnail")  %>
    </p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("activerecord.attributes.student.general_information") %></h4></div>
      <table class="table">
        <tbody>
          <tr>
            <td><%= t("activerecord.attributes.student.birthday") %></td>
            <td><%= @user.birthday %></td>
          </tr>
           <tr>
            <td>email</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td><%= t("activerecord.attributes.student.cv")%></td>
              <td>
                <% if (@user.cv.path).nil? %>
                  <%= image_tag('file_thumbnails/missing.png', size: "16") %>
                <% else %>
                  <p class="text-muted"><%= link_to(image_tag('file_thumbnails/pdf.png', size: "16"), @user.cv.url) %> <%= File.basename(@user.cv.path); %></p>
                <% end %>
              </td>
          </tr>
        </tbody>
      </table>
    </div>

    <% if !(@user.semester).nil? || !(@user.academic_program).nil? || !(@user.education).nil? %>
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= t("activerecord.attributes.student.carrier") %></h4></div>
        <table class="table">
          <tbody>
            <% if !(@user.academic_program).nil? %>
              <tr>
                <td><%= t("activerecord.attributes.student.academic_program")%></td>
                <td><%= @user.academic_program %></td>
              </tr>
            <% end %>
            <% if !(@user.semester).nil? %>
              <tr>
                <td><%= t("activerecord.attributes.student.semester")%></td>
                <td><%= @user.semester %></td>
              </tr>
            <% end %>
            <% if !(@user.education).nil? %>
              <tr>
                <td><%= t("activerecord.attributes.student.education")%></td>
                <td><%= @user.education.html_safe %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if !(@user.additional_information).nil? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><h4><%= t("activerecord.attributes.student.additional_information")%></h4></h3>
        </div>
        <div class="panel-body">
          <%= @user.additional_information.html_safe %>
        </div>
      </div>
    <% end %>

    <% if !(@user.homepage).nil? || !(@user.github).nil? || !(@user.facebook).nil? || !(@user.xing).nil? || !(@user.linkedin).nil? %>
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= t("activerecord.attributes.student.links")%></h4></div>
        <ul class="list-group">
          <% if !(@user.homepage).empty? %>
            <li class="list-group-item"><%= fa_icon "home 2x"%>
              <%= link_to @user.homepage, url_with_protocol(@user.homepage), :target => '_blank' %>
            </li>
          <% end %>
          <% if !(@user.github).empty? %>
            <li class="list-group-item"><%= fa_icon "github-square 2x"%>
              <%= link_to @user.github, url_with_protocol(@user.github), :target => '_blank'%>
            </li>
          <% end %>
          <% if !(@user.facebook).empty? %>
            <li class="list-group-item"><%= fa_icon "facebook-square 2x"%>
              <%= link_to @user.facebook, url_with_protocol(@user.facebook), :target => '_blank' %>
            </li>
          <% end %>
          <% if !(@user.xing).empty? %>
            <li class="list-group-item"><%= fa_icon "xing-square 2x"%>
              <%= link_to @user.xing, url_with_protocol(@user.xing), :target => '_blank' %>
            </li>
          <% end %>
          <% if !(@user.linkedin).empty? %>
            <li class="list-group-item"><%= fa_icon "linkedin-square 2x"%>
              <%= link_to @user.linkedin, url_with_protocol(@user.linkedin), :target => '_blank' %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if !@user.languages_users.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= t("activerecord.attributes.student.languages")%></h4></div>
        <table class="table">
          <tbody>
            <% @user.languages_users.each do |languages_user| %>
              <tr>
                <td><%= languages_user.language.name %></td>
                <td>
                  <% (1..5).each do |i| %>
                    <% if i == languages_user.skill %>
                      <%= radio_button_tag languages_user.language.name, i, true, disabled: true, class: "star" %>
                    <% else %>
                      <%= radio_button_tag languages_user.language.name, i, false, disabled: true, class: "star" %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if !@user.programming_languages_users.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= t("activerecord.attributes.student.programming_languages")%></h4></div>
        <table class="table">
          <tbody>
            <% @user.programming_languages_users.each do |programming_languages_user| %>
              <tr>
                <td><%= programming_languages_user.programming_language.name %></td>
                <td>
                  <% (1..5).each do |i| %>
                    <% if i == programming_languages_user.skill %>
                      <%= radio_button_tag programming_languages_user.programming_language.name, i, true, disabled: true, class: "star" %>
                    <% else %>
                      <%= radio_button_tag programming_languages_user.programming_language.name, i, false, disabled: true, class: "star" %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <div class="pull-left"><%= link_to t("links.back"), students_path, class: "btn btn-default"%></div>
    <div class="pull-right"><%= link_to t("links.edit"),  edit_student_path(@user.id), "data-no-turbolink" => true, class: "btn btn-warning" %></div>
  </div>
</div>
