<div class="wrapper-12 panel-wrapper">
  <% if can?(:activate, @student) && !@student.activated %>
    <div class="col-md-12 flash-message on-profile">
      <div class="alert alert-warning">
        <p><%= t("students.activation_reminder") %></p>
        <%= simple_form_for @student, url: activate_student_url(@student) do |f| %>
          https://openid.hpi.uni-potsdam.de/user/ <%= f.text_field :username, id: 'open-id-field', class: 'form-control' %>
          <%= f.submit t("links.verify"), class: 'btn btn-xs btn-primary' %>
      <% end %>
      </div>
    </div>
  <% end %>
  <div class="col-sm-6">
    <div class="pull-right"></div>
  </div>

  <div class="row">
    <div class="col-sm-6 text-left">
      <span class="pull-right">
        <% if can? :edit, @student %>
          <%= link_to t("links.edit"), edit_student_path(@student.id), class: "btn btn-default title-button" %>
        <% end %>
        <% if current_user.admin? && !@student.activated %>
          <%= link_to t("links.activate"), activate_student_path(@student.id), class: "btn btn-default title-button" %>
        <% end %>
        <% if can?(:destroy, @student) %>
          <%= link_to t("links.destroy"), student_path(@student.id), :method => :delete, class: "btn btn-default title-button", data: { confirm: 'Sind Sie sicher, dass Sie diesen Studenten löschen möchten?' } %>
        <% end %>
      </span>
    </div>
  </div>
</div>

<div class="wrapper-12 panel-wrapper">
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            <% if @student.employment_status.nil? %>
              <%= @student.firstname %> <%= @student.lastname %>
            <% else %> 
              <%= @student.firstname %> <%= @student.lastname %> - <%= t("activerecord.attributes.user_status." +  @student.employment_status) %>
            <% end %>
          </h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-4">
                <%= t("activerecord.attributes.user.birthday") %>
              </div>
              <div class="col-sm-8">
                <%= @student.birthday %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-4">
                <%= t("activerecord.attributes.user.email") %>
              </div>
              <div class="col-sm-8">
                <%= @student.email %>
              </div>
            </div>
          </li>
          <% unless @student.alumni_email.blank? %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-4">
                  <%= t("activerecord.attributes.alumni.alumni_email") %>
                </div>
                <div class="col-sm-8">
                  <%= @student.alumni_email %>@hpi-alumni.de
                </div>
              </div>
            </li>
          <% end %>
          <% unless (@student.user.cv.path).nil? %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-4">
                  <%= t("activerecord.attributes.user.cv") %>
                </div>
                <div class="col-sm-8">
                  <p class="text-muted">
                    <%= link_to(@student.cv_as_pdf.url) do %>
                      <%= image_tag('file_thumbnails/pdf.png', size: "16") %> <%= @student.cv_as_pdf_file_name %>
                    <% end %>
                  </p>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <% if signed_in? && (current_user?(@student.user) || current_user.admin? || current_user.staff?) && !@job_offers.empty? %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%= t("activerecord.attributes.user.jobs")%></h4>
          </div>
            <%= render 'shared/jobs_listing_detailed', job_offer_list: @job_offers %>
        </div>
      <% end %>

      <% if @student.cv_jobs.any? || @student.cv_educations.any? %>
        <div class="panel panel-default">
          <div class="panel-heading"><h4><%= t("users.cv") %></h4></div>
          <% if @student.cv_jobs.any? %>
            <div class="cv-list">
              <h5><%= t("students.work_experience") %></h5>
              <%= render partial: 'cv_job', collection: @student.cv_jobs, as: :job %>
            </div>
          <% end %>
          <% if @student.cv_educations.any? %>
            <div class="cv-list">
              <h5><%= t("students.education") %></h5>
              <%= render partial: 'cv_education', collection: @student.cv_educations, as: :education %>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= render 'profile', student: @student%>
  </div>
</div>
