<div class="wrapper-12 teaser">
  <div class="row">
    <div class="col-sm-6">
      <div class="pull-right">
        <h1 align="right"><%= @user.firstname %> <%= @user.lastname %></h1>
          <% unless @user.user_status.nil? %>
            <p class="userstatus text-right"><%= t("activerecord.attributes.user_status." +  @user.user_status.name) %></p>
          <% end %>
      </div>
    </div>
    <div class="col-sm-6 text-left">
      <p>
        <%= image_tag(@user.photo.url, size: "150", class: "img-thumbnail")  %>
        <% if can? :edit, @user %>
          <%= link_to t("links.edit"),  edit_student_path(@user.id), class: "btn btn-default pull-right" %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<div class="wrapper-12 teaser">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("activerecord.attributes.user.general_information") %></h4></div>
      <table class="table">
        <thead></thead>
        <tbody>
          <tr>
            <td><%= t("activerecord.attributes.user.birthday") %></td>
            <td><%= @user.birthday %></td>
          </tr>
           <tr>
            <td><%= t("activerecord.attributes.user.email") %></td>
            <td><%= mail_to @user.email %></td>
          </tr>
          <tr>
            <td><%= t("activerecord.attributes.user.cv")%></td>
              <td>
                <% if (@user.cv.path).nil? %>
                  <%= image_tag('file_thumbnails/missing.png', size: "16") %>
                <% else %>
                  <p class="text-muted">
                    <%= link_to(@user.cv.url) do %>
                      <%= image_tag('file_thumbnails/pdf.png', size: "16") %> <%= t('activerecord.attributes.user.cv') %>
                    <% end %>
                  </p>
                <% end %>
              </td>
          </tr>
        </tbody>
      </table>
    </div>

    <% if signed_in? && (current_user?(@user) || current_user.admin? || current_user.staff?) && !@job_offers.empty?%>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t("activerecord.attributes.user.jobs")%></h4>
        </div>
           <%= render 'shared/jobs_listing_detailed', job_offer_list: @job_offers %>
      </div>
    <% end %>

    <%= render 'users/user_profile', user: @user%>
</div>
