<%= form_for(@chair, :html => { :multipart => true }) do |f| %>
  <% if @chair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chair.errors.count, "error") %> prohibited this chair from being saved:</h2>

      <ul>
      <% @chair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t("chairs.general_information") %></h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3">
                <%= f.label t "activerecord.attributes.chair.name", class: "control-label" %><%= mark_if_required(@chair, :name) %>
              </div>
              <div class="col-sm-9">
                <%= f.text_field :name, :class => "form-control"%>
              </div>
            </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
              <div class="col-sm-3">
                <%= f.label t "activerecord.attributes.chair.head_of_chair", class: "control-label" %><%= mark_if_required(@chair, :head_of_chair) %>
              </div>
              <div class="col-sm-9">
                <%= f.text_field :head_of_chair, :class => "form-control"%>
              </div>
            </div>         
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-6">
          <div class="row">
              <div class="col-sm-3">
                <%= f.label t "activerecord.attributes.chair.deputy", class: "control-label" %><%= mark_if_required(@chair, :deputy) %>
              </div>
              <div class="col-sm-9">
                <%= f.collection_select :deputy_id, @chair.users, :id, :email %>
              </div>
            </div>         
        </div>
        <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3">
                <%= f.label :avatar, class: "control-label" %><%= mark_if_required(@chair, :avatar) %>
              </div>
              <div class="col-sm-9">
                <% unless @chair.avatar.nil? %>
                    <%= image_tag @chair.avatar.url(:medium), class: " chair-thumbnail", alt: @chair.name%>
                <% end %>
                <br><br>
                <%= f.file_field :avatar %>
              </div>
            </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-12" data-no-turbolink="true">
          <%= f.label t "activerecord.attributes.chair.description", class: "control-label" %><%= mark_if_required(@chair, :description) %>
          <%= f.bootsy_area :description, :rows => 10, :class => "col-md-12 form-control", :placeholder => t("job_offers.enter_description") %>
        </div>
      </div>
    </li>
  </ul>
  <% if Chair.validators.map(&:class).include? ActiveRecord::Validations::PresenceValidator %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5>
            <%= f.label t("layouts.asterisk_description"),  class: "control-label" %>
          </h5>
        </div>
      </div>
    <% end %>
</div>


<%= f.submit t("links.save"), :class => "btn btn-warning pull-right" %>

<% end %>
