<%= form_for(@chair, :html => { :multipart => true }) do |f| %>
  <% if @chair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chair.errors.count, "error") %> prohibited this chair from being saved:</h2>

      <ul>
      <% @chair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t("activerecord.attributes.chair.name") %><br>
    <%= f.text_field :name %>
  </div>
	<div class="field">
    <%= f.label t("activerecord.attributes.chair.description") %><br>
    <%= f.bootsy_area :description %>
  </div>

  <div class="field">
    <%= f.label t("activerecord.attributes.chair.head_of_chair") %><br>
    <%= f.text_field :head_of_chair %>
  </div>

	<div class="field clearfix">
    <%= f.label :avatar %><br>
		<% if !@chair.avatar.nil? %>
				<%= image_tag @chair.avatar.url(:medium), class: "pull-left img-thumbnail chair-thumbnail", alt: @chair.name%>
				<br>
		<% end %>
    <%= f.file_field :avatar %>
  </div>

  <%= f.label :deputy %><br />
  <%= f.collection_select :deputy_id, @chair.users, :id, :email %>

  <div class="actions" style="margin-top:30px;">
    <%= f.submit t("links.save"), :class => "btn btn-success btn-large" %>
    <%= link_to t("links.back"), chairs_path, :type => "button", :class => "btn btn-default", :style => "margin-left:30px;" %>
  </div>

<% end %>
