<%= form_for(@chair, :html => { :multipart => true }) do |f| %>
  <% if @chair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chair.errors.count, "error") %> prohibited this chair from being saved:</h2>

      <ul>
      <% @chair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
	<div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

<div class="form-group">    
  <%= f.label :user %><br>

  <div class="">
    <select class="form-control" id="head_of_chair" name="head_of_chair">
			<% @users.each do |user| %>
				<option value="<%= user.id %>"><%= user.email %></option>
			<% end %>
    </select>
  </div>  
</div>

	<div class="field">
    <%= f.label :avatar %><br>
		<% if !@chair.avatar.nil? %>
				<%= image_tag @chair.avatar.url(:medium), class: "img-thumbnail chair-thumbnail", alt: @chair.name%>
				<br>
		<% end %>
    <%= f.file_field :avatar %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
