<h1><%= t('chairs.chair_overview') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t("activerecord.attributes.chair.name") %></th>
			<th><%= t("activerecord.attributes.chair.description") %></th>
			<th><%= t("activerecord.attributes.chair.head_of_chair") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @chairs %>
  </tbody>
</table>

<br>

<%= link_to t('chairs.new_chair'), new_chair_path, :type => "button", :class => "btn btn-default" %>
