<div class="row">
    <div class="col-sm-9">
         <h1 style="display:inline">
            <%= @chair.name %>
        </h1>
        <% if can? :edit, @chair %>
            <%= link_to t('links.edit'), edit_chair_path(@chair), :type => "button", :class => "btn btn-default pull-right" %>
        <% end %>
    </div>
    <div class="col-sm-3">
        <%= image_tag @chair.avatar.url(:medium), class: "img-thumbnail pull-left chair-thumbnail", alt: "Picture: "+@chair.name%>
    </div>
</div>    

<br><br>
<div class="panel panel-default">
  <div class="panel-heading"><h4><%= t("activerecord.attributes.chair.description") %></h4></div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-12">
          <%= escape_javascript(@chair.description.html_safe) %>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="row">
    <div class="col-sm-6">

        <div class="panel panel-default">
          <div class="panel-heading"><h4><%= t("chairs.general_information") %></h4></div>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row field">
                <div class="col-sm-4">
                  <%= t("activerecord.attributes.chair.head_of_chair") %>
                </div>
                <div class="col-sm-8">
                  <%= @chair.head_of_chair %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-4">
                  <%= t("activerecord.attributes.chair.deputy") %>
                </div>
                <div class="col-sm-8">
                  <%= @chair.deputy.email %>
                </div>
              </div>
            </li>
          </ul>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
              <div class="panel-heading"><h4><%= t("chairs.staff") %></h4></div>
        <%= render 'shared/user_list', name: "chairs.staff", user_list: @staff, show_demote_button: user_can_demote_staff?, change_role_button_title: t('chairs.demote_button') %>  
        </div>
    </div>

    <div class="col-sm-6">
        <% unless @open_job_offers.empty? %>
            <div class="panel panel-default">
              <div class="panel-heading"><h4><%= t("chairs.open_job_offers") %></h4></div>
              <%= render 'shared/overview', job_offer_list: @open_job_offers %>
            </div>
        <% end %>

        <% unless @running_job_offers.empty? %>
            <div class="panel panel-default">
                <div class="panel-heading"><h4><%= t("chairs.running_job_offers") %></h4></div>
                <%= render 'shared/overview', job_offer_list: @running_job_offers %>
            </div>
        <% end %>
    </div>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%=t("students.promote_title")%></h4>
      </div>
      <div class="modal-body">
      <%= form_tag update_staff_chairs_path do %>
        <%= text_field_tag "user_id", nil %>

        <%= select_tag :role_name, options_for_select([Role.find_by_level(1).name], Role.find_by_level(1).name) %>
        <%= select_tag :new_deputy_id, options_from_collection_for_select(User.order(:lastname), "id", "name") %>
        <% if (defined?(@chair)) %>
        <%= hidden_field_tag :id, @chair.id %>
        <% end %>
        <%= submit_tag t('chairs.demote_button'), :data => {confirm: t('chairs.demote_confirm_question')}, :class => "btn btn-default change-role" %>
      <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

