<div class="row-fluid">
	<%= image_tag @chair.avatar.url(:medium), class: "img-thumbnail pull-left chair-thumbnail", alt: "Picture: "+@chair.name%>
  	<p>
		<strong><%= t("chair.name") %>:</strong>
		<%= @chair.name %>
	</p>

	<p>
		<strong><%= t("chair.description") %>:</strong>
		<%= @chair.description %>
	</p>

	<p>
		<strong><%= t("chair.head_of_chair") %>:</strong>
		<%= @chair.head_of_chair %>
	</p>

	<p>
		<strong><%= t("chair.deputy") %>:</strong>
		<%= @chair.deputy.email %>
	</p>

  <%= link_to t('links.edit'), edit_chair_path(@chair), :type => "button", :class => "btn btn-default" %>
  <%= link_to t('links.back'), chairs_path, :type => "button", :class => "btn btn-default" %>

</div>
