<tr>

    <% path_to_user = student_path(application.student) %>

    <td class='clickable' href='<%= path_to_user %>'><%= application.student.firstname %></td>
    <td class='clickable' href='<%= path_to_user %>'><%= application.student.lastname %></td>
    <td class='clickable' href='<%= path_to_user %>'><%= application.student.email %></td>

    <% if can?(:accept, application) %>
    	<td>
        <%= link_to t("applications.accept"), accept_application_path(application), class: "btn btn-success", data: {confirm: t("applications.accept_confirmation")} %>
        <%= link_to t("applications.decline"), decline_application_path(application), class: "btn btn-danger", data: {confirm: t("applications.decline_confirmation")} %>
      </td>
    <% end %>
</tr>
