<%= simple_form_for staff, url: staff_index_path, html: { multipart: true, class: 'form-horizontal', role: 'form' } do |f| %>

  <%= render 'shared/object_errors', object: staff %>

  <%= f.hidden_field :token, value: params[:token] %>

  <%= render 'form_fields', form: f, user: staff.user %>

  <div class="pull-right"><%= f.button :submit, t("links.save"), class: 'btn btn-warning' %></div>
<% end %>
