<div class="row">
  <div class="col-md-9">
    <h1><%= t("users.staff_headline")%></h1>
      <ul class="list-group">
      <% @users.each do |staff| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-12">
              <%= link_to staff.firstname+" "+staff.lastname, staff_path(staff), :class => "h4" %>
                <% if current_user.admin? %>
                <button class="btn btn btn-default demote" style="float:right" data-id="<%= staff.id %>" data-toggle="modal" data-target="#myModal"><%=t('employers.demote_button') %></button>
              <%end%>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
      <div class="pull-right">
        <%= will_paginate @users, renderer: BootstrapPagination::Rails%>
      </div>
  </div>
  <div class="col-md-3">
  </div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%=t("students.promote_title")%></h4>
      </div>
      <div class="modal-body">
      <%= form_tag set_role_to_student_staff_index_path do %>
        <%= hidden_field_tag "user_id", nil %>

        <%= select_tag :role_name, options_for_select([Role.find_by_level(1).name], Role.find_by_level(1).name) %>
        <select id="new_deputy_id" name="new_deputy_id"></select>
        <% if (defined?(@employer)) %>
        <%= hidden_field_tag :id, @employers.id %>
        <% end %>
        <%= submit_tag t('employers.demote_button'), :data => {confirm: t('employers.demote_confirm_question')}, :class => "btn btn-default change-role" %>
      <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div