<div class="wrapper-12 panel-wrapper">
  <div class="row">
    <div class="col-sm-8">
      <h1><%= t("users.new_staff") %></h1>
      <%= render 'form', staff: @staff %>
    </div>
    <div class="col-sm-4">
      <center>
        <%= image_tag(@employer.avatar.url, size: "200", class: "img-thumbnail", alt: "Picture: " + @employer.name )
        %>
      </center>
      <br/>
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= @employer.name %></h4></div>
        <ul class="list-group">
          <% unless @employer.place_of_business.blank? %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-4">
                  <%= t("activerecord.attributes.employer.place_of_business") %>
                </div>
                <div class="col-sm-8">
                  <%= @employer.place_of_business %>
                </div>
              </div>
            </li>
          <% end %>
          <% unless @employer.website.blank? %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-4">
                  <%= t("activerecord.attributes.employer.website") %>
                </div>
                <div class="col-sm-8">
                  <%= link_to @employer.website %>
                </div>
              </div>
            </li>
          <% end %>
          <% unless @employer.line_of_business.blank? %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-4">
                  <%= t("activerecord.attributes.employer.line_of_business") %>
                </div>
                <div class="col-sm-8">
                  <%= @employer.line_of_business %>
                </div>
              </div>
            </li>
          <% end %>
          <% unless @employer.number_of_employees.blank? %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-4">
                  <%= t("activerecord.attributes.employer.number_of_employees") %>
                </div>
                <div class="col-sm-8">
                  <%= @employer.number_of_employees %>
                </div>
              </div>
            </li>
          <% end %>
          <% unless @employer.year_of_foundation.blank? %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-4">
                  <%= t("activerecord.attributes.employer.year_of_foundation") %>
                </div>
                <div class="col-sm-8">
                  <%= @employer.year_of_foundation %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>