<div class="row">
  <div class="col-sm-6">
    <h1 style="display:inline"><%= @user.firstname %> <%= @user.lastname %></h1>
    <blockquote>
      <% if !(@user.user_status).nil? %>
        <p><%= @user.user_status.name %></p>
      <% end %>
    </blockquote>
  </div>
  <div class="col-sm-6 text-center">
    <p>
      <%= image_tag(@user.photo.url, size: "150", class: "img-thumbnail")  %>
      <%= link_to t("links.edit"),  edit_staff_path(@user.id), class: "btn btn-default",
      style: "float:right; display:inline;" %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("activerecord.attributes.user.general_information") %></h4></div>
      <table class="table">
        <thead></thead>
        <tbody>
          <tr>
            <td><%= t("activerecord.attributes.user.birthday") %></td>
            <td><%= @user.birthday %></td>
          </tr>
          <tr>
            <td><%= t("activerecord.attributes.user.email") %></td>
            <td><%= mail_to @user.email %></td>
          </tr>
           <tr>
            <td><%= t("activerecord.attributes.user.employer") %></td>
            <td>
              <% if @user.employer %>
                <%= link_to @user.employer.name, employer_path(@user.employer) %>
              <% end %>
              </td>
          </tr>
          <tr>
            <td><%= t("activerecord.attributes.user.cv")%></td>
              <td>
                <% if (@user.cv.path).nil? %>
                  <%= image_tag('file_thumbnails/missing.png', size: "16") %>
                <% else %>
                   <p class="text-muted">
                    <%= link_to(@user.cv.url) do %>
                      <%= image_tag('file_thumbnails/pdf.png', size: "16") %> <%= t('activerecord.attributes.user.cv') %>
                    <% end %>
                  </p>
                <% end %>
              </td>
          </tr>
        </tbody>
      </table>
    </div>

    <%= render 'users/user_profile', user: @user%>
</div>
