<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-6">
    <h1 style="display:inline"><%= @user.firstname %> <%= @user.lastname %></h1>
    <% if signed_in? && (current_user?(@user) || user_is_admin?)%>
      <%= link_to t("links.edit"),  edit_staff_path(@user.id), "data-no-turbolink" => true, class: "btn btn-default",
      style: "float:right; display:inline;" %>
    <% end %>
        <blockquote>
          <% if !(@user.user_status).nil? %>
            <p><%= @user.user_status.name %></p>
          <% end %>
        </blockquote>
  </div>
  <div class="col-sm-6 text-center">
    <p>
      <%= image_tag(@user.photo.url, size: "150", class: "img-thumbnail")  %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("activerecord.attributes.staff.general_information") %></h4></div>
      <table class="table">
        <thead></thead>
        <tbody>
          <tr>
            <td><%= t("activerecord.attributes.staff.birthday") %></td>
            <td><%= @user.birthday %></td>
          </tr>
           <tr>
            <td><%= t("activerecord.attributes.staff.email") %></td>
            <td><%= @user.email %></td>
          </tr>
           <tr>
            <td><%= t("activerecord.attributes.staff.chair") %></td>
            <td>
              <% if @user.chair %>
                <%= link_to @user.chair.name, chair_path(@user.chair) %>
              <% end %>
              </td>
          </tr>
          <tr>
            <td><%= t("activerecord.attributes.staff.employment_start_date") %></td>
            <td><%= @user.employment_start_date %></td>
          </tr>
          <tr>
            <td><%= t("activerecord.attributes.staff.cv")%></td>
              <td>
                <% if (@user.cv.path).nil? %>
                  <%= image_tag('file_thumbnails/missing.png', size: "16") %>
                <% else %>
                  <p class="text-muted"><%= link_to(image_tag('file_thumbnails/pdf.png', size: "16"), @user.cv.url) %> <%= File.basename(@user.cv.path); %></p>
                <% end %>
              </td>
          </tr>
        </tbody>
      </table>
    </div>

    <% if !@user.programming_languages_users.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= t("activerecord.attributes.staff.programming_languages")%></h4></div>
        <table class="table">
          <thead></thead>
          <tbody>
            <% @user.programming_languages_users.each do |programming_languages_user| %>
              <tr>
                <td><%= programming_languages_user.programming_language.name %></td>
                <td>
                  <% (1..5).each do |i| %>
                    <% if i == programming_languages_user.skill %>
                      <%= radio_button_tag programming_languages_user.programming_language.name, i, true, disabled: true, class: "star" %>
                    <% else %>
                      <%= radio_button_tag programming_languages_user.programming_language.name, i, false, disabled: true, class: "star" %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if !(@user.homepage).nil? || !(@user.github).nil? || !(@user.facebook).nil? || !(@user.xing).nil? || !(@user.linkedin).nil? %>
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= t("activerecord.attributes.staff.links")%></h4></div>
          <table class="table">
            <thead></thead>
            <tbody>
              <% if !(@user.homepage).empty? %>
                <tr>
                  <td>
                    <%= fa_icon "home 2x"%>
                  </td>
                  <td>
                    <%= link_to @user.homepage, url_with_protocol(@user.homepage), :target => '_blank' %>
                  </td>
                </tr>
              <% end %>
              <% if !(@user.github).empty? %>
                <tr>
                  <td>
                    <%= fa_icon "github-square 2x"%>
                  </td>
                  <td>
                    <%= link_to @user.github, url_with_protocol(@user.github), :target => '_blank' %>
                  </td>
                </tr>
              <% end %>
              <% if !(@user.facebook).empty? %>
                <tr>
                  <td>
                    <%= fa_icon "facebook-square 2x"%>
                  </td>
                  <td>
                    <%= link_to @user.facebook, url_with_protocol(@user.facebook), :target => '_blank' %>
                  </td>
                </tr>
              <% end %>
              <% if !(@user.xing).empty? %>
                <tr>
                  <td>
                    <%= fa_icon "xing-square 2x"%>
                  </td>
                  <td>
                    <%= link_to @user.xing, url_with_protocol(@user.xing), :target => '_blank' %>
                  </td>
                </tr>
              <% end %>
              <% if !(@user.linkedin).empty? %>
                <tr>
                  <td>
                    <%= fa_icon "linkedin-square 2x"%>
                  </td>
                  <td>
                    <%= link_to @user.linkedin, url_with_protocol(@user.linkedin), :target => '_blank' %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    <% end %>
  </div> 

  <div class="col-sm-6">
    <% if !@user.languages_users.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= t("activerecord.attributes.staff.languages")%></h4></div>
        <table class="table">
          <thead></thead>
          <tbody>
            <% @user.languages_users.each do |languages_user| %>
              <tr>
                <td><%= t("languages." + languages_user.language.name) %></td>
                <td>
                  <% (1..5).each do |i| %>
                    <% if i == languages_user.skill %>
                      <%= radio_button_tag languages_user.language.name, i, true, disabled: true, class: "star" %>
                    <% else %>
                      <%= radio_button_tag languages_user.language.name, i, false, disabled: true, class: "star" %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>

    <% if !(@user.additional_information).nil? && !(@user.additional_information).empty?%>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t("activerecord.attributes.staff.additional_information")%></h4>
        </div>
          <table class="table">
            <thead></thead>
            <tbody>
              <tr>
                <td>
                  <%= @user.additional_information.html_safe %>
                </td>
               </tr>
            </tbody>
          </table>
      </div>
    <% end %>
  </div> 
</div>
