<div class="wrapper-12 panel-wrapper">
  <div class="row">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6 text-left">
      <% if can?(:destroy, @staff.user) %>
        <%= link_to t("links.destroy"), staff_path(@staff), method: :delete, class: "btn btn-default pull-right", data: { confirm: 'Sind Sie sicher, dass Sie diesen Mitarbeiter löschen möchten?' } %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>
            <%= @staff.firstname %> <%= @staff.lastname %>
          </h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-4">
                <%= t("activerecord.attributes.user.email") %>
              </div>
              <div class="col-sm-8">
                <%= mail_to @staff.email %>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-4">
                <%= t("activerecord.attributes.user.employer") %>
              </div>
              <div class="col-sm-8">
                <%= link_to @staff.employer.name, employer_path(@staff.employer) %>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <center>
        <%= image_tag(@staff.user.photo.url, size: "150", class: "img-thumbnail")  %>
      </center>
    </div>
  </div>
</div>