<h1>Listing user_statuses</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_statuses.each do |user_status| %>
      <tr>
        <td><%= user_status.description %></td>
         <td><%= link_to t ("links.show"), student_path(user.id), :class => "btn btn-info" %></td>
        <td><%= link_to t ("links.edit"), edit_student_path(user), :class => "btn btn-warning" %></td>
        <td><%= link_to t ("links.destroy"), student_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student status', new_user_status_path %>
