<h1>Listing user_statuses</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_statuses.each do |user_status| %>
      <tr>
        <td><%= user_status.description %></td>
        <td><%= link_to 'Show', user_status %></td>
        <td><%= link_to 'Edit', edit_user_status_path(user_status) %></td>
        <td><%= link_to 'Destroy', user_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student status', new_user_status_path %>
