<h1><%=  t("imprint.headline") %></h1>
<br>
<div class="container"> 
	<p>
    	<h5><b><%=  t("imprint.headline1") %></b></h5>
	    Prof.-Dr.-Helmert-Str. 2-3
	    <br>
	    14482 Potsdam
	    <br>
	    <%=  t("imprint.tel") %>: +49 (0)331 5509-0
	    <br>
	    <%=  t("imprint.fax") %>: +49 (0)331 5509-129
	    <br>
	    E-Mail: hpi-info(at)hpi.uni-potsdam.de
	    <br>
	    Internet: <%= link_to t("job_offers_path"), job_offers_path,"data-no-turbolink" => true %>
	</p>
	<br>
	<p>
	    <h5><b><%=  t("imprint.headline2") %>: </b></h5>
		Prof. Dr. Christoph Meinel
		<br>
		<br>
		<%=  t("imprint.reg_office") %>: <%=  t("imprint.district_court") %>
		<br>
		<%=  t("imprint.reg_number") %>: HRB 12184
	</p>
	<br>
	<p>
	    <h5><b><%=  t("imprint.headline3") %>: </b></h5>
	    Chair for Enterprise Platform and Integration Concepts
	</p>
	<br> 
	<p>  
	    <h5><b><%=  t("imprint.editor") %>: </b></h5>
	    Hasso-Plattner-Institut
	</p>
	<br>
	<p>
	    <h5><b><%=  t("imprint.design") %>: </b></h5>
	    Hasso-Plattner-Institut
	</p>
	<br>
	<p>
	    <h5><b><%=  t("imprint.text") %>: </b></h5>
	    Hasso-Plattner-Institut
	</p>
	<br>
	<p>
	    <h5><b><%=  t("imprint.info") %>: </b></h5>
	    <%=  t("imprint.info_text") %>
	</p>
</div>  