(For an English translation, scroll down.)

<h1>Hallo <%=@job_offer.responsible_user.firstname%> <%=@job_offer.responsible_user.lastname%></h1>,

dein Jobangebot <%= link_to(@job_offer.title,  url_for(controller:"job_offers", action: "show", id: @job_offer.id, only_path: false))%> wurde bestätigt. Studenten können sich jetzt für dein Angebot bewerben.

Grüße,
Das HPI-HiWi-Portal Team.

(Dies ist eine maschinell erstellte Email, bitte antworte nicht darauf.)
<hr>

<h1>Dear <%=@job_offer.responsible_user.firstname%> <%=@job_offer.responsible_user.lastname%></h1>

your job offer <%= link_to(@job_offer.title, url_for(controller:"job_offers", action: "show", id: @job_offer.id, only_path: false))%> has been accepted. Students can now apply for this job.

Regards,
The HPI-HiWi-Portal Team.

(This is an automatically created email, please do not respond to it.)