<h3><%= t "job_offers_mailer.job_offer_closed.title"+" ("+@job_offer.title+")" %></h3>
<ul>
  <li><%= t "activerecord.attributes.job_offer.title" %>: <%= @job_offer.title %></li>
  <li>Email: <%= @job_offer.assigned_student.email %></li>
  <li><%= t "activerecord.attributes.job_offer.chair" %>: <%= @job_offer.employer.name %></li>
  <li><%= t "activerecord.attributes.job_offer.responsible_user" %>: <%= @job_offer.responsible_user.email %></li>
  <li><%= t "activerecord.attributes.job_offer.room_number" %>: <%= @job_offer.room_number %></li>
  <li><%= t "applications_mailer.duration" %>: <%= @job_offer.start_date %> - <%= @job_offer.end_date %></li>
  <li><%= t "activerecord.attributes.job_offer.compensation" %>: <%= @job_offer.human_readable_compensation %></li>
</ul>
<p> 
  <%= t "applications_mailer.last_line" %>
</p>