<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>The following job has been assigned to a student:</h3>
    <ul>
      <li>Title: <%= @job_offer.title %></li>
      <li>Student name: <%= @job_offer.assigned_students.last.email %></li>
      <li>Chair: <%= @job_offer.chair.name %></li>
      <li>Responsible staff member: <%= @job_offer.responsible_user.email %></li>
      <li>Room: <%= @job_offer.room_number %></li>
      <li>Duration: <%= @job_offer.start_date %> - <%= @job_offer.end_date %></li>
      <li>Salary: <%= @job_offer.compensation %></li>
    </ul>
  </body>
</html>