<div class="wrapper-12 teaser" style="margin-left: 20px;">
  <h1> <%= t("users.settings") %> </h1>

  <%= simple_form_for @user do |f| %>
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("activerecord.attributes.user.login_information") %></h4></div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                <%= label_field f, :firstname, t("activerecord.attributes.user.first_name") %>
              </div>
              <div class="col-sm-9">
                <div class="input select optional user_firstname">
                  <%= f.input :firstname %>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                <%= label_field f, :lastname, t("activerecord.attributes.user.last_name") %>
              </div>
              <div class="col-sm-9">
                <div class="input select optional user_lastname">
                  <%= f.input :lastname %>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                <%= label_field f, :email, t("activerecord.attributes.user.email") %>
              </div>
              <div class="col-sm-9">
                <div class="input select optional user_email">
                  <%= f.input :email %>
                </div>
              </div>
            </div>
          </li>
        </ul>
    </div>

    <%= f.submit t("links.save"), class: "btn btn-large btn-primary" %>
  <% end %>

  <%= simple_form_for @user, url: user_update_password_path(@user) do |f| %>
    <div class="panel panel-default">
      <div class="panel-heading"><h4><%= t("users.password_settings") %></h4></div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                <%= label_field f, :old_password, t("activerecord.attributes.user.old_password") %>
              </div>
              <div class="col-sm-9">
                <div class="input select optional user_old_password">
                  <%= f.input :old_password %>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                <%= label_field f, :password, t("activerecord.attributes.user.password") %>
              </div>
              <div class="col-sm-9">
                <div class="input select optional user_password">
                  <%= f.input :password %>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                <%= label_field f, :password_confirmation, t("activerecord.attributes.user.password_confirmation") %>
              </div>
              <div class="col-sm-9">
                <div class="input select optional user_password_confirmation">
                  <%= f.input :password_confirmation %>
                </div>
              </div>
            </div>
          </li>
        </ul>
    </div>

    <%= f.submit t("users.password_settings"), class: "btn btn-large btn-primary" %>
  <% end %>

  <% if User.validators.map(&:class).include? ActiveRecord::Validations::PresenceValidator %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5>
          <%= t("layouts.asterisk_description") %>
        </h5>
      </div>
    </div>
  <% end %>
</div>