<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%=t("students.promote_title")%></h4>
      </div>
      <div class="modal-body">
      <%= form_tag path do %>
        <%= hidden_field_tag "promote_user_id", nil %>

        <%= select_tag :role_name, options_for_select(roles, roles.first) %>
        <% if (defined?(render_chairs) && render_chairs) %>
        <%= select_tag :chair_name, options_for_select(Chair.all.collect{|c| c.name}, :selected => nil) %>
        <% end %>
        <% if (defined?(@chair)) %>
        <%= hidden_field_tag :id, @chair.id %>
        <% end %>
        <%= submit_tag button_title, :data => {confirm: confirm_question}, :class => "btn btn-default change-role" %>
      <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
