<div>
  <h1><%= t("shared.contact.headline") %></h1>
    <p>
        <strong>Team HPI Connect</strong><br>
        Marco Wendt: <%= t("shared.contact.marco.phone") %><br>
        <%= mail_to "connect@hpi.de" %><br>
        <br>
        <%= t("home.imprint.hpi.headline") %><br>
        <%= t("home.imprint.hpi.street") %><br>
        <%= t("home.imprint.hpi.city") %><br>
        <a href="http://hpi.de/connect">www.hpi.de/connect</a>
  </p>
</div>
