<% if flash[:error] || flash[:success] || flash[:notice] %>
  <div class="col-md-12 flash-message">
    <% if flash[:error] %>
      <div class="alert alert-danger" style="<%= style if defined? style %>">
        <%= raw flash[:error] %>
      </div>
    <% end %>
    <% if flash[:success] %>
      <div class="alert alert-success" style="<%= style if defined? style %>">
        <%= flash[:success] %>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="alert alert-warning" style="<%= style if defined? style %>">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>
<% end %>