<% if defined?(name) %>
  <h1 style="padding-bottom: 18px"> <%= t(name) %> </h1>
<% end %>
<% unless job_offer_list.empty? %>
  <ul class="list-group">
    <% job_offer_list.each do |job_offer| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-7">
            <% if defined?(do_not_show_details) && do_not_show_details %>
              <h4><%= job_offer.title %>
            <% else %>
              <h4><%= link_to job_offer.title, job_offer%>
            <% end %>
              <% if current_user.applied?(job_offer) %>
                <span class="label label-success"><%= t("job_offers.already_applied_badge")%></span>
              <% end %>
            </h4>
          </div>
          <div class="col-md-3" style="float:right">
            <p class="startDate"><%= t("job_offers.starts") %> <%= l(job_offer.start_date) %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <p class="employer"><%= job_offer.employer.name %></p>
          </div>
        </div>
      </li>
    <%end%>
  </ul>
  <div class="pull-right">
    <%= will_paginate job_offer_list, renderer: BootstrapPagination::Rails %>
  </div>
<% else %>
  <div class="col-md-6 col-md-offset-3" style="margin-top:25%">
    <h4><%= t("job_offers.no_results") %></h4>
  </div>
<% end %>
