<% unless job_offer_list.empty? %>
  <ul class="list-group list">
    <% job_offer_list.each do |job_offer| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-5">
            <% if (defined?(create_link_to_details) && create_link_to_details) || can?(:show, job_offer) %>
              <h4><%= link_to job_offer.title, job_offer %>
            <% else %>
              <h4 class="h4"><%= job_offer.title %>
            <% end %>
              <% if current_user && current_user.student? && current_user.manifestation.applied?(job_offer) %>
                <span class="label label-success"><%= t("job_offers.already_applied_badge") %></span>
              <% end %>
            </h4> 
            <%= t("job_offers.category." + job_offer.category) %>                    
          </div>
          <div class="col-md-3">
            <%= image_tag job_offer.employer.avatar.url, size: "100", class: "img-thumbnail" %>
          </div>
          <div class="col-md-3" style="float:right">
            <p class="startDate"><%= t("job_offers.released") %> <%= l(job_offer.release_date) %></p>
          </div>
        </div>
        <div class="row">                   
          <div class="col-md-7 col-md-offset-5">
            <p class="employer"><%= job_offer.employer.name %></p>
          </div>           
        </div>
      </li>
    <%end%>
  </ul>
  <div class="pull-right">
    <%= will_paginate job_offer_list, renderer: BootstrapPagination::Rails %>
  </div>
<% else %>
  <div class="col-sm-6 col-sm-offset-3">
    <h4><%= t("job_offers.no_results") %></h4>
  </div>
<% end %>
