  <h2> <%= t(name) %> </h2> 
  <ul class="list-group">
    <% job_offer_list.each do |job_offer| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-8">
            <h4><%= link_to job_offer.title, job_offer%>
              <% if signed_in? && current_user.applied?(job_offer) %>
                <span class="label label-success"><%= t("job_offers.already_applied_badge")%></span>
              <% end %>
            </h4>
          </div>
          <div class="col-md-4">
            <p class="startDate"><%= t("job_offers.starts") %> <%= l(job_offer.start_date) %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-11 col-md-offset-1">
            <p class="chair"><%= job_offer.chair.name %></p>
          </div>
        </div>
      </li>
    <%end%>
  </ul>
  <%= will_paginate job_offer_list, renderer: BootstrapPagination::Rails %>
