<div class="sidebar-nav">
        <%= form_tag find_path, :method => :get, :id => 'Form' do %>
          <ul class="nav nav-list">

            <div class="form-group" id="sort">
              <h5><%= label_tag(:q, t("job_offers.sortLabel")) %></h5>
              <%= label_tag :sort,t("job_offers.sortDate"), :class => "radio-inline small" %>
              <%= radio_button_tag :sort, 'date' , "date" == params.fetch(:sort, "date"), :id => "sort_by_date_RB"  %>
              <%= label_tag :sort, t("job_offers.sortEmployer"), :class => "radio-inline small" %>
              <%= radio_button_tag :sort, 'employer' , params[:sort] == "employer" %>
            </div>
            <div class="form-group" id="search">
              <h5><%= label_tag t("job_offers.searchLabel") %></h5>
              <%= text_field_tag(:search, params[:search], :placeholder => t('job_offers.search_term'), :class => "form-control") %>
            </div>

            <div id="filter">
              <h5><%= label_tag t("job_offers.filterLabel") %></h5>

              <% unless @employers.empty? %>
                <div class="form-group">
                  <%= label_tag t("activerecord.attributes.job_offer.employer") , nil, :class => "small"%>
                  <%= select_tag "employer", options_for_select(Employer.all.collect {|p| [p.name, p.id]}, params.fetch(:employer,0)), include_blank: true, :class => "form-control"%>
                </div>
              <% end %>

              <div class="form-group">
                <%= check_box_tag :external_only, true, params.has_key?('external_only')  %> <%= t("job_offers.external_only") %>
              </div>

              <div class="form-group">
                  <%= label_tag t("activerecord.attributes.job_offer.start_date"), nil, :class => "small" %>
                  <%= text_field_tag  :start_date, params.fetch(:start_date, ''), :placeholder => t('job_offers.start_date'),  :class => 'datepicker form-control'%>
              </div>
              <div class="form-group">
                  <%= label_tag t("activerecord.attributes.job_offer.end_date"), nil, :class => "small" %>
                  <%= text_field_tag :end_date, params.fetch(:end_date, ''), :placeholder => t('job_offers.end_date'), :class => 'datepicker form-control'%>
              </div>
              <div class="panel-group" id="languages_accordion">
                <div class="form-group">
                  <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#programming_language_panel" data-parent="#languages_accordion">
                     <p class = "small panel-title"><%=t("job_offers.required_programming_languages")%></p>
                    </div>
                    <div id="programming_language_panel" class="panel-collapse collapse">
                      <div class="panel-body row">
                        <div class="field">
                        <!--   <%= hidden_field_tag "programming_language_ids[]", nil %> -->
                          <% ProgrammingLanguage.all.each_with_index do |programming_language| %>
                            <div class="col-md-6 languageDIV">
                              <%= check_box_tag "programming_language_ids[]", programming_language.id, params.fetch(:programming_language_ids, "").include?(programming_language.id.to_s), id: dom_id(programming_language)%>
                              <%= label_tag dom_id(programming_language), programming_language.name , :class => "small"%>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#language_panel" data-parent="#languages_accordion">
                      <p class = "small panel-title"><%=t("job_offers.required_languages")%></p>
                    </div>
                    <div id="language_panel" class="panel-collapse collapse">
                      <div class="panel-body row">
                        <div class="field">
                          <!-- <%= hidden_field_tag "job_offer[language_ids][]", nil %> -->
                          <% Language.all.each do |language| %>
                            <div class="col-md-6 languageDIV">
                              <%= check_box_tag "language_ids[]", language.id, params.fetch(:language_ids, "").include?(language.id.to_s), id: dom_id(language) %>
                              <%= label_tag dom_id(language), t("languages." +  language.name), :class => "small" %>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                  <%= label_tag t("activerecord.attributes.job_offer.time_effort"), nil, :class => "small" %>
                  <%= text_field_tag :time_effort, params.fetch(:time_effort, ''), :placeholder => t('job_offers.time_effort'), :class => "form-control" %>
                </div>
              <div class="form-group">
                  <%= label_tag t("activerecord.attributes.job_offer.compensation"), nil, :class => "small" %>
                  <%= text_field_tag :compensation, params.fetch(:compensation, ''),:placeholder => t('job_offers.compensation'), :class => "form-control" %>
                </div>
              <div class="form-group">
              <%= submit_tag t("job_offers.find_jobs_button"), :class => "btn btn-default pull-right" %>
              </div>
            </div>
         </ul>
        <% end %>
    </div> <!-- /sidebar -->
