
<div class="well sidebar-nav">
  <div class="container ">
    <%= form_tag( @find_jobs_path, :method => :get, :id => 'Form' ) do %> 
      <ul class="nav nav-list">

        <div class="form-group" id="sort">
          <%= label_tag(:q, t("job_offers.sortLabel")) %><br>
          <%= label_tag :sort, "Date", :class => "radio-inline " %>
          <%= radio_button_tag :sort, 'date' , "date" == params.fetch(:sort, "date"), :id => "sort_by_date_RB"  %>
          <%= label_tag :sort, 'Chair', :class => "radio-inline" %>
          <%= radio_button_tag :sort, 'chair' , params[:sort] == "chair" %>
        </div>
        <div class="form-group" id="search">
          <%= label_tag t("job_offers.searchLabel") %>
          <%= text_field_tag(:search, params[:search], :placeholder => t('job_offers.search_term'), :class => "form-control") %>
        </div>

        <div id="filter">
          <%= label_tag t("job_offers.filterLabel") %>

          <div class="form-group">
            <%= label_tag t("job_offer.chair") , nil, :class => "small"%>
            <%= select_tag "chair", options_for_select(Chair.all.collect {|p| [p.name, p.id]}), include_blank: true, :class => "form-control"%>
          </div>

          <div class="form-group">
              <%= label_tag t("job_offer.start_date"), nil, :class => "small" %>
              <%= text_field_tag  :start_date, params.fetch(:start_date, ''), :placeholder => t('job_offers.start_date'),  :class => 'datepicker form-control'%>
          </div>
          <div class="form-group">
              <%= label_tag t("job_offer.end_date"), nil, :class => "small" %>
              <%= text_field_tag :end_date, params.fetch(:end_date, ''), :placeholder => t('job_offers.end_date'), :class => 'datepicker form-control'%>
          </div>
          <div class="form-group">
              <%= label_tag t("job_offer.time_effort"), nil, :class => "small" %>
              <%= text_field_tag :time_effort, params.fetch(:time_effort, ''), :placeholder => t('job_offers.time_effort'), :class => "form-control" %>
            </div>
          <div class="form-group">
              <%= label_tag t("job_offer.compensation"), nil, :class => "small" %>
              <%= text_field_tag :compensation, params.fetch(:compensation, ''),:placeholder => t('job_offers.compensation'), :class => "form-control" %>
            </div>
          <div class="form-group">
          <%= submit_tag t("job_offers.find_jobs_button"), :class => "btn btn-default pull-right" %>
          </div>
        </div>
     </ul>
    <% end %> 
  </div><!--/.container -->
</div> <!-- /sidebar -->
