  <% if !user_list.nil? %>
    <ul class="list-group">
      <% user_list.each do |user| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-9" style="width: 100%;">
              <% if user.student? %>
                <%= link_to user.full_name, student_path(user), :class => "h4" %>
              <% else %>
                <%= link_to user.full_name, staff_path(user), :class => "h4" %>
              <%end%>
              <% if (defined?(show_demote_button) && show_demote_button) %>
                <button class="btn btn-default demote pull-right" data-id="<%= user.id %>" data-toggle="modal" data-target="#myModal"><%= change_role_button_title %></button>
              <% end %>

              <% if defined?(show_fire_button) && show_fire_button %>
                <%= simple_form_for [:fire, @job_offer], method: :post, class: "form-inline" do |f| %>
                  <%= f.hidden_field :student_id, value: user.id %>
                  <%= f.submit t("job_offers.fire"), class: 'btn btn-default pull-right' %>
                <% end %>
              <% end %>
            </div>
          </div>
        </li>
      <%end%>
    </ul>
    <div class="pull-right">
      <%= will_paginate user_list, renderer: BootstrapPagination::Rails %>
    </div>
  <%end%>