<div class="wrapper-12 panel-wrapper">
<h1>Adminübersicht</h1>
</div>

<div class="wrapper-12 teaser">

<div class="col-md-12 list-container">
  <p>
    <h1>Noch nicht freigeschaltete Jobangebote (<%= @job_offers.count %>)</h1>
  </p>
  <br/>
  <p>
    <%= render 'shared/jobs_listing_detailed', job_offer_list: @job_offers.paginate(page: params[:job_offers_page]), create_link_to_details: true %>
  </p>
</div>

<div class="col-md-12 list-container">
  <p>
    <h1>Noch nicht freigeschaltete Unternehmensprofile (<%= @employers.count %>)</h1>
  </p>
  <br/>
  <p>
    <ul class="list-group list">
      <div class="row">
        <%= render @employers.paginate(page: params[:page]) %>
      </div>
    </ul>
    <%= will_paginate @employers.paginate(page: params[:employers_page]), renderer: BootstrapPagination::Rails %>
  </p>
  </div>
</div>

<% # sort by creation date. wie die deaktivierten rausfiltern? alle, die in der letzten woche created wurden und nicht aktiviert sind? %>
