<h1><%=  t("home.imprint.headline") %></h1>
<br>
<div class="container">
	<p>
    	<h5><b><%=  t("home.imprint.hpi.headline") %></b></h5>
	    <%=  t("home.imprint.hpi.street") %>
	    <br>
	    <%=  t("home.imprint.hpi.city") %>
	    <br>
	    <%=  t("home.imprint.tel") %>: <%=  t("home.imprint.hpi.tel") %>
	    <br>
	    <%=  t("home.imprint.fax") %>: <%=  t("home.imprint.hpi.fax") %>
	    <br>
	    <%=  t("home.imprint.email") %>: <%=  t("home.imprint.hpi.email") %>
	    <br>
	    <%=  t("home.imprint.internet") %>: <%= link_to t("home.imprint.hpi.internet_title"), t("home.imprint.hpi.internet_link")%>
	</p>
	<br>
	<p>
	    <h5><b><%=  t("home.imprint.manager.headline") %>: </b></h5>
		<%=  t("home.imprint.manager.person") %>
		<br>
		<br>
		<%=  t("home.imprint.reg_office") %>: <%=  t("home.imprint.manager.court") %>
		<br>
		<%=  t("home.imprint.reg_number") %>: <%=  t("home.imprint.manager.court_num") %>
	</p>
	<br>
	<p>
	    <h5><b><%=  t("home.imprint.content_resp.headline") %>: </b></h5>
	    <%=  t("home.imprint.content_resp.name") %>
	</p>
	<br>
	<p>
	    <h5><b><%=  t("home.imprint.editor.headline") %>: </b></h5>
	    <%=  t("home.imprint.editor.name") %>
	</p>
	<br>
	<p>
	    <h5><b><%=  t("home.imprint.design.headline") %>: </b></h5>
	    <%=  t("home.imprint.design.name") %>
	</p>
	<br>
	<p>
	    <h5><b><%=  t("home.imprint.text.headline") %>: </b></h5>
	    <%=  t("home.imprint.text.name") %>
	</p>
	<br>
	<p>
	    <h5><b><%=  t("home.imprint.info.headline") %>: </b></h5>
	    <%=  t("home.imprint.info.text") %>
	</p>
</div>
