<div class="wrapper-8 teaser">
  <div class="col-md-8">
    <% if I18n.locale == :en %>
      <h1>Job Portal</h1>
      <h2>Welcome to the HPI Connect Jobportal!</h2>

      <p> 
        <b>Students and alumni of the HPI can</b><br />
        <br />
        - view the current <%= link_to 'job offers', job_offers_path %><br />
        - explore <%= link_to 'company profiles', employers_path %> of interesting employers <br />
        - <%= link_to 'create', new_student_path %> an own profile to be found by potential employers <br />
        <br />
        To get access please use the login or registration form on the righthand side.
      </p>

      <p>
        <b>As a company you can get in contact with the students and alumni by</b><br />
        <br />
        - posting your current <%= link_to 'job openings', job_offers_path %><br />
        - presenting yourself with an own <%= signed_in_staff? ? (link_to 'company profile', employer_path(current_user.manifestation.employer)) : 'company profile' %><br />
        - and searching for <%= link_to 'potential employees', students_path %><br />
      </p>
    <% else %>
      <h1>Jobportal</h1>
      <h2>Willkommen im HPI Connect Jobportal!</h2>

      <p> 
        <b>Die Studierenden und Alumni des HPI haben hier die Möglichkeit</b><br />
        <br />
        - die aktuellen <%= link_to 'Jobangebote', job_offers_path %> einzusehen <br />
        - <%= link_to 'Unternehmensprofile', employers_path %> interessanter Arbeitgeber zu sichten <br />
        - ein eigens Profil zu <%= link_to 'erstellen', new_student_path %>, um von potentiellen Arbeitgebern gefunden zu werden <br />
        <br />
        Bitte benutzen Sie dazu das Login Formular bzw. die Registrierung rechts.
      </p>

      <p>
        <b>Als Unternehmen können Sie in dem Portal direkt mit den Studierenden und Alumni in Kontakt treten, indem Sie</b><br />
        <br />
        - Ihre aktuellen <%= link_to 'Stellenangebote', job_offers_path %> einstellen <br />
        - sich als Arbeitgeber mit einem eigenen <%= signed_in_staff? ? (link_to 'Unternehmensprofil', employer_path(current_user.manifestation.employer)) : 'Unternehmensprofil' %> präsentieren <br />
        - und nach passenden <%= link_to 'potentiellen Mitarbeitern', students_path %> suchen <br />
      </p>
    <% end %>
  </div>
</div>

<div class="wrapper-4 teaser sidebar">
  <% unless signed_in? %>
    <div class="col-md-4">
      <h1> Login </h1>

      <%= simple_form_for :session, url: sessions_path do |f| %>
          <%= f.input :email, id: "email", placeholder: "Email", input_html: { class: "login-input" } %>
          <%= f.input :password, id: "password", placeholder: "Password", input_html: { class: "login-input" } %>

          <%= f.submit t("home.index.sign_in"), class: "btn btn-large btn-primary" %>
      <% end %>

      <br />
      <%= link_to t("home.index.register_user"), new_student_path %> | <%= link_to t("home.index.register_company"), new_employer_path %> | <%= link_to t("users.forgot_password"), "", data: {toggle: "modal", target: "#applicationEmailModal" } %>
    </div>
  <% end %>

  <% unless @job_offers.empty? %>
    <div class="col-md-4" id="job_offers">
      <h1><%= t("home.index.latest_job_offers", number_of_job_offers: @job_offers.length)%></h1>
      <ul>
        <% @job_offers.each do |job_offer| %>
          <li> <%= link_to job_offer.title, job_offer %> </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @employers.empty? %>
    <div class="col-md-4" id="employers">
      <h1><%= t("home.index.latest_employers", number_of_employers: @employers.length)%></h1>
      <ul>
        <% @employers.each do |employer| %>
          <% if can?(:activate, employer) || employer.paying? %>
            <li> <%= link_to employer.name, employer %> </li>
          <% else %> 
            <li> <%= employer.name %> </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<% content_for :modals do %>
  <%= render 'forgot_password' %>
<% end %>
