<%= form_for programming_language do |f| %>

  <%= render 'shared/object_errors', object: programming_language %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
