<%= simple_form_for [@employer, @rating] do |f| %>
  
  <div class="form-group">
    <%= label_tag t("activerecord.attributes.rating.score") %> 
    
    <div class="rating_form_field" data-score="<%= @rating.score %>" data-target="rating_score_input" ></div>   
    <%= f.input :score, :as => :hidden, input_html: { id: 'rating_score_input' } %>
  </div>
  
  <div class="form-group">
    <%= label_tag t("activerecord.attributes.rating.headline") %> 
    <%= f.input :headline %>
  </div>
  
  <div class="form-group">
    <%= label_tag t("activerecord.attributes.rating.job_offer") %> 
    <%= f.association :job_offer, collection: @selectable_job_offers %>
  </div>
  
  <div class="form-group">
    <%= label_tag t("activerecord.attributes.rating.description") %> 
    <%= f.input :description , input_html: { id: 'rating_score_input' } %>
  </div>
  
  
  <div class="text-right">
    <%= link_to t("links.cancel"), employer_ratings_path, class: "btn btn-danger" %>
    <%= f.submit t("links.save"), class: "btn btn-primary" %>
  </div>
  
 <% end %>

