<li class="list-group-item">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-2">
          <div class="row">
              <%= t("activerecord.attributes.rating.score_overall")%></br>
              <div class="employer_rating_stars" data-score="<%= rating.score_overall %>"></div></br>
               <a data-toggle="collapse" href="#sub_category_<%= rating.id %>" aria-expanded="false"><%= t("ratings.subcategories")  %></a>
          </div>
          <div class="collapse" id="sub_category_<%= rating.id %>">
            <% if rating.score_atmosphere %>
              <div class="row">
                  <%= t("activerecord.attributes.rating.score_atmosphere")%> </br>
                  <div class="employer_rating_stars" data-score="<%= rating.score_atmosphere %>"></div>
              </div>
            <% end %>
            <% if rating.score_salary %>
              <div class="row">
                  <%= t("activerecord.attributes.rating.score_salary")%> </br>
                  <div class="employer_rating_stars" data-score="<%= rating.score_salary %>"></div>
              </div>
            <% end %>
            <% if rating.score_work_life_balance %>
              <div class="row">
                  <%= t("activerecord.attributes.rating.score_work_life_balance")%> </br>
                  <div class="employer_rating_stars" data-score="<%= rating.score_work_life_balance %>"></div>
              </div>
            <% end %>
            <% if rating.score_work_contents %>
              <div class="row">
                  <%= t("activerecord.attributes.rating.score_work_contents")%> </br>
                  <div class="employer_rating_stars" data-score="<%= rating.score_work_contents %>"></div>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-10">
          <h2><%= rating.headline %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="row">
           </br>
           <%= t("ratings.user") %>:</br>
           <%= rating.student.full_name %>
          </div>
        </div>
        <div class="col-sm-10">
          <h5 style="color:#A69686;margin-top:0px">
            <%= label_tag t("activerecord.attributes.rating.job_offer") %>:

            <span style="font-style:italic;">
              <% if rating.job_offer %>
                <%= link_to rating.job_offer.title, rating.job_offer %>
              <% else %>
                -
              <% end %>
            </span>
          </h5>
          <%= rating.description %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-right">
          <% if can? :destroy, rating %>
            <%= link_to t("links.destroy"), employer_rating_path(:id => rating.id), method: :delete, :class => "btn btn-danger", data: { confirm: t('links.confirm') } %>
          <% end %>
          <% if can? :update, rating %>
            <%= link_to t("links.edit"), edit_employer_rating_path(:id => rating.id), method: :get, :class => "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</li>