<li class="list-group-item">
  <div class="row">
    <div class="col-sm-12">
      
      <div class="row">
        <div class="col-sm-2">
          <div class="employer_rating_stars" data-score="<%= rating.score %>"></div>
        </div>  
        <div class="col-sm-10">
          <h2><%= rating.headline %></h2>
        </div>
      </div>
          
      <div class="row"> 
        <div class="col-sm-2">
          <%= rating.student.full_name %>
        </div>
        <div class="col-sm-10">
          <h5 style="color:#A69686;margin-top:0px">
            <%= label_tag t("activerecord.attributes.rating.job_offer") %>:
            
            <span style="font-style:italic;">
              <% if rating.job_offer %>
                <%= rating.job_offer.title %>
              <% else %>  
                -
              <% end %>
            </span>
          </h5>
          <%= rating.description %>
        </div>  
      </div>
          
      <div class="row"> 
        <div class="col-sm-12 text-right">
          <%= link_to "Destroy", employer_rating_path(:id => rating.id), method: :delete, :class => "btn btn-primary", data: { confirm: 'Are you sure?' } %>          
          <%= link_to "Edit", edit_employer_rating_path(:id => rating.id), :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  
</li>