




<div class="wrapper-12 teaser">
  
  <div class="col-md-12 list-container">
    
    <%= render 'shared/object_errors', object: @rating %>
                  
    <%= simple_form_for @rating  ,url: employer_ratings_path do |f| %>
  
      <div class="form-group">
        <%= label_tag "Rating Score" %>
        <div class="rating_form_field"></div>   
        <%= f.input :score, :as => :hidden, input_html: { id: 'rating_score_input' } %>
      </div>
      
      <div class="form-group">
        <%= label_tag "Title" %> 
        <%= f.input :headline %>
      </div>
      
      <div class="form-group">
        <%= label_tag "Job Offer" %> 
        <%= f.association :job_offer, collection: @selectable_job_offers %>
      </div>
      
      <div class="form-group">
        <%= label_tag "Description" %> 
        <%= f.input :description , input_html: { id: 'rating_score_input' } %>
      </div>
      

      <%= f.submit t("links.save"), class: "btn btn-primary pull-right" %>
  
     <% end %>
  </div>
</div>

<div class="wrapper-12 teaser">
  <div class="col-md-12 list-container">
    <ul class="list-group list">
      <div class="row">
        <div class="col-sm-12">
          <%= render @ratings %>
        </div>
      </div>
    </ul>
  </div>
</div>