<%= form_for(@student_status) do |f| %>
  <% if @student_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student_status.errors.count, "error") %> prohibited this student_status from being saved:</h2>

      <ul>
      <% @student_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
