<h2><%= t("users.login_headline")%></h2>

<%= form_for resource, as: resource_name, url: session_path(resource_name), html: { id: 'sign_in_form'} do |f| %>
  <p><%= f.label :identity_url, t("users.open_id") %></p>
  <p>https://openid.hpi.uni-potsdam.de/user/ <%= f.text_field :username, id: 'username_field' %></p>

  <%= f.hidden_field :identity_url, id: 'url_field', value: "https://openid.hpi.uni-potsdam.de/user/#{resource.username}" %>

  <div><%= f.submit t("users.sign_in") %></div>
<% end %>

<%= render "devise/shared/links" %>
