<li class="list-group-item">
  <div class="row">
    <div class="col-sm-5">
      <% if can?(:activate, employer) || employer.paying? %>
        <h4><%= link_to employer.name, employer %></h4> 
      <% else %>
        <h4 class="h4"><%= employer.name %></h4>
      <% end %>
      <% unless employer.activated %>
        <span class="label label-danger"><%= t("employers.inactive")%></span>
      <% end %>  
    </div>
    
    <% if current_user && (current_user.student? || current_user.admin?) %>
      <div class="col-sm-4"> 
        <span class="rating_score"><%= employer.average_rating %></span> 
        
        <%= link_to employer_ratings_path(employer) do %>
          <div class="employer_rating_stars" data-container="body" data-score="<%= employer.average_rating %>" title="Dismissible popover" data-content="Click stars to see ratings!"></div>
        <% end %>
        <br/>
        <span>(<%= employer.rating_amount %>&nbsp;Ratings)</span> 
      </div> 
    <%end%>
    
    <div class="col-sm-3 pull-right">
      <%= image_tag employer.avatar.url, size: "100", class: "img-thumbnail"  %>
    </div>
    
  </div>
</li>