<div class="panel panel-default">
  <div class="panel-heading">
    <h4><%= t("employers.general_information") %></h4>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-3">
          <%= label_field form, :name, t("activerecord.attributes.employer.name") %>
        </div>
        <div class="col-sm-6">
          <%= form.input :name %>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-3">
                <%= label_field form, :avatar, t("activerecord.attributes.employer.avatar") %>
              </div>
              <div class="col-sm-9">
                <% unless employer.avatar.nil? %>
                    <%= image_tag employer.avatar.url(:medium), class: " employer-thumbnail", alt: employer.name %>
                <% end %>
                <br><br>
                <%= form.file_field :avatar %>
              </div>
            </div>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div>
        <%= form.label 'Packages', class: "control-label" %>
      </div>
      <div class="package-div">
        <% if employer.booked_package_id > 0 %>
          <%= radio_button_tag :free, :free, 0, class: 'package-select-disabled', disabled: true %>
        <% else %>
          <%= form.radio_button :requested_package_id, 0, class: 'package-select' %>
        <% end %>
        <b><%= t("activerecord.attributes.employer.packages.free") %></b><br />
        <ul> 
          <li><%= t("employers.package_descriptions.student_jobs") %></li>
        </ul>
      </div>
      <div class="package-div">
        <% if employer.booked_package_id > 1 %>
          <%= radio_button_tag :profile, :profile, 0, class: 'package-select-disabled', disabled: true %>
        <% else %>
          <%= form.radio_button :requested_package_id, 1, class: 'package-select' %>
        <% end %>
        <b><%= t("activerecord.attributes.employer.packages.profile") %></b><br />
        <ul> 
          <li><%= t("employers.package_descriptions.profile") %></li>
        </ul>
      </div>
      <div class="package-div">
        <% if employer.booked_package_id > 2 %>
          <%= radio_button_tag :partner, :partner, 0, class: 'package-select-disabled', disabled: true %>
        <% else %>
          <%= form.radio_button :requested_package_id, 2, class: 'package-select' %>
        <% end %>
        <b><%= t("activerecord.attributes.employer.packages.partner") %></b><br />
        <ul> 
          <li><%= t("employers.package_descriptions.profile") %></li>
          <li> 4 <%= t("employers.package_descriptions.full_time") %></li>
        </ul>
      </div>
      <div class="package-div">
        <%= form.radio_button :requested_package_id, 3, class: 'package-select' %>
        <b><%= t("activerecord.attributes.employer.packages.premium") %></b>
        <ul>
          <li><%= t("employers.package_descriptions.profile") %></li>
          <li> 24 <%= t("employers.package_descriptions.full_time") %></li>
          <li><%= t("employers.package_descriptions.student_profiles") %></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </li>
  </ul>
</div>

<div class="employers-extra-information">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t("activerecord.attributes.job_offer.additional_information") %></h4>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <%= label_field form, :description, t("activerecord.attributes.employer.description") %>
          </div>
          <div class="col-sm-9">
            <%= form.input :description, placeholder: t("job_offers.enter_description") %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <%= label_field form, :number_of_employees, t("activerecord.attributes.employer.number_of_employees") %>
          </div>
          <div class="col-sm-9">
            <%= form.select :number_of_employees, Employer::NUMBER_OF_EMPLOYEES_FIELDS, {}, { class: "form-control" } %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <%= label_field form, :place_of_business, t("activerecord.attributes.employer.place_of_business") %>
          </div>
          <div class="col-sm-9">
            <%= form.input :place_of_business %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <%= label_field form, :website, t("activerecord.attributes.employer.website") %>
          </div>
          <div class="col-sm-9">
            <%= form.input :website %>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-3">
            <%= label_field form, :year_of_foundation, t("activerecord.attributes.employer.year_of_foundation") %>
          </div>
          <div class="col-sm-9">
            <%= form.input :year_of_foundation %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
