<div class="wrapper-8 teaser">
  <div class="col-md-8">
    <h1>Home</h1>
    <h2>Home</h2>    
    <div class="panel-group" id="accordion">
      <div id="ws1314" class="panel-collapse collapse in">
        <div class="panel-body">
          <p> <%=t("employers.home.edit_account_settings_html", account_settings: (link_to t("employers.home.account_settings") ,[:edit, current_user]))  %></p>
          <p><%=t("employers.home.book_product")%></p>
          <br><p><h1><%=t("employers.home.service.free.title")%></h1></p>
          <ul>
            <div class="panel-body">
              <li>○ <%=t("employers.home.service.free.description")%></li>
            </div>
          </ul>
          <br>              
          <p><h1><%=t("employers.home.service.chargeable.title")%></h1>
          <i> <%= t("employers.home.service.chargeable.help_html",email: ( mail_to "connect@hpi.uni-potsdam.de") ) %></i></p><br>
          <div class="panel-body">
            <ul>
              <li>○ <%= t("employers.home.service.chargeable.single_graduate_job", book: (link_to t("employers.home.booking.basis.book"), new_job_offer_path(:book_single_job_offer => true))).html_safe%></li>
              <li>○ <%=t("employers.home.service.chargeable.open_positions")%></li>
              <li>○  <%= t("employers.home.service.chargeable.present_profile_html", company_profile: (link_to t("employers.home.service.chargeable.company_profile"), edit_employer_path(current_user.manifestation.employer)))%></li>
              <div class="panel-body"></div>
              <li>○ <%= t("employers.home.booking.basis.title_html", book: (link_to t("employers.home.booking.basis.book"), edit_employer_path(current_user.manifestation.employer)))%></li>
              <ul>
                <div class="panel-body">
                  <li> - <%= t("employers.home.booking.basis.advertisements") %></li>
                  <li> - <%= t("employers.home.booking.basis.company_profile") %></li>
                </div>
              </ul>
              <li>○ <%= t("employers.home.booking.partner.title_html", book: (link_to t("employers.home.booking.partner.book"), edit_employer_path(current_user.manifestation.employer)))%></li>
              <ul>
                <div class="panel-body">
                  <li> - <%= t("employers.home.booking.partner.advertisements") %></li>
                  <li> - <%= t("employers.home.booking.partner.company_profile") %></li>
                  <li> - <%= t("employers.home.booking.partner.exclusiv") %> </li>
                </div>
              </ul>
            </ul>
          </div>
              <p><%= t("employers.home.advise") %><br> <%= t("employers.home.contact_html",email: ( mail_to "connect@hpi.uni-potsdam.de") ) %></p>
          </div>
        </div>
      </div> <!-- end of panel -->   
  </div>
</div>

    <div class="col-md-4">
      <h1> <%= link_to "AGB", asset_path("AGB HPI Connect.pdf"), :class => "links" %> </h1>
      <h1><%= link_to "Information", asset_path("HPI Connect Karriereportal.pdf"), :class => "links" %></h1>
      <h1>Kontakt</h1>
      <p>Hasso-Plattner-Institut für<br>Softwaresystemtechnik GmbH
      <br>Prof.-Dr.-Helmert-Str. 2-3
      <br>D-14482 Potsdam</p>
      <br>
      <p>E-Mail: <%= mail_to "connect@hpi.uni-potsdam.de" %></p>
      <br><p>Nadja Antoine - <br>Fon(49) 0331 5509 107</p>
      <br><p>Claudia Koch - <br>Fon(49) 0331 5509 291</p>
      <br><p><%= link_to "www.hpi.uni-potsdam.de/connect"%></p>
    </div>
</div>