<div class="wrapper-12 panel-wrapper">
  <div class="row">
    <div class="col-sm-6">
      <div class="pull-right">
        <h1><%= @employer.name %></h1>
      </div>
    </div>
    <div class="col-sm-6 text-left">
      <p>
        <%= image_tag(@employer.avatar.url, size: "200", class: "img-thumbnail", alt: "Picture: " + @employer.name )  %>
        <% if can? :edit, @employer %>
          <%= link_to t('links.edit'), edit_employer_path(@employer), :type => "button", :class => "btn btn-default pull-right" %>
        <% end %>
        <% if can?(:activate, @employer) && (!@employer.activated || (@employer.requested_package_id > @employer.booked_package_id)) %>
          <%= link_to t("links.activate"), activate_employer_path(@employer.id), class: "btn btn-default pull-right", data: { confirm: 'Sind Sie sicher, dass Sie diesen Arbeitgeber für das Paket "' + t('activerecord.attributes.employer.packages.' + @employer.requested_package) + '" freischalten möchten?' } %>
        <% end %>
        <% if can?(:deactivate, @employer) && @employer.activated %>
          <%= link_to t("links.deactivate"), deactivate_employer_path(@employer.id), class: "btn btn-default pull-right", data: { confirm: 'Sind Sie sicher, dass Sie diesen Arbeitgeber deaktivieren möchten?' } %>
        <% end %>
        <% if can?(:destroy, @employer) %>
          <%= link_to t("links.destroy"), employer_path(@employer), :method => :delete, class: "btn btn-default pull-right", data: { confirm: 'Sind Sie sicher, dass Sie diesen Arbeitgeber löschen möchten?' } %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<br /><br />

<div class="wrapper-12 panel-wrapper">
  <div class="row">
    <% if @employer.paying? %>
      <div class="col-sm-8">
        <div class="panel panel-default">
          <div class="panel-heading"><h4><%= t("activerecord.attributes.employer.description") %></h4></div>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-12">
                  <%= simple_format @employer.description %>
                </div>
              </div>
            </li>
          </ul>
        </div>
    <% else %>
      <div class="col-sm-12">
    <% end %>
      <% if @active_job_offers.any? || @pending_job_offers.any? || @closed_job_offers.any? %>
        <% if @active_job_offers.any? %>
          <div class="panel panel-default">
            <div class="panel-heading"><h4><%= t("employers.active_job_offers") %></h4></div>
            <%= render 'jobs_listing', job_offer_list: @active_job_offers %>
          </div>
        <% end %>
        <% if @pending_job_offers.any? %>
          <% if user_is_staff_of_employer?(@pending_job_offers.first) || current_user.admin? %>
            <div class="panel panel-default">
              <div class="panel-heading"><h4><%= t("employers.pending_job_offers") %></h4></div>
              <%= render 'jobs_listing', job_offer_list: @pending_job_offers %>
            </div>
          <% end %>
        <% end %>
        <% if @closed_job_offers.any? %>
          <div class="panel panel-default">
            <div class="panel-heading"><h4><%= t("employers.closed_job_offers") %></h4></div>
            <%= render 'jobs_listing', job_offer_list: @closed_job_offers %>
          </div>
        <% end %>
      <% end %>
    </div>
    <% if @employer.paying? %>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading"><h4><%= t("employers.general_information") %></h4></div>
          <ul class="list-group">
            <% unless @employer.place_of_business.blank? %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-4">
                    <%= t("activerecord.attributes.employer.place_of_business") %>
                  </div>
                  <div class="col-sm-8">
                    <%= @employer.place_of_business %>
                  </div>
                </div>
              </li>
            <% end %>
            <% unless @employer.website.blank? %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-4">
                    <%= t("activerecord.attributes.employer.website") %>
                  </div>
                  <div class="col-sm-8">
                    <%= link_to @employer.website %>
                  </div>
                </div>
              </li>
            <% end %>
            <% unless @employer.line_of_business.blank? %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-4">
                    <%= t("activerecord.attributes.employer.line_of_business") %>
                  </div>
                  <div class="col-sm-8">
                    <%= @employer.line_of_business %>
                  </div>
                </div>
              </li>
            <% end %>
            <% unless @employer.number_of_employees.blank? %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-4">
                    <%= t("activerecord.attributes.employer.number_of_employees") %>
                  </div>
                  <div class="col-sm-8">
                    <%= @employer.number_of_employees %>
                  </div>
                </div>
              </li>
            <% end %>
            <% unless @employer.year_of_foundation.blank? %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-sm-4">
                    <%= t("activerecord.attributes.employer.year_of_foundation") %>
                  </div>
                  <div class="col-sm-8">
                    <%= @employer.year_of_foundation %>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
    <% else %>
      <div class="col-sm-12">
    <% end %>
    <% if @staff.any? %>
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= t("employers.contact") %></h4></div>
          <ul class="list-group">
            <% @staff.each do |user| %>
              <li class="list-group-item">
                <h4><%= link_to user.full_name, staff_path(user) %></h4>
              </li>
            <%end%>
          </ul>
          <div class="pull-right">
            <%= will_paginate @staff, renderer: BootstrapPagination::Rails %>
          </div>
        </div>
      </div>
    <% end %>
    <% if current_user && current_user.admin? || (current_user.staff? && current_user.manifestation.employer == @employer) %>
      <div class="panel panel-default">
        <div class="panel-heading"><h4>  <%= t("activerecord.attributes.employer.number_of_requested_graduate_jobs") %> <%= @employer.single_jobs_requested %></h4></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
