<div class="row">
    <div class="col-sm-9">
        <h1 style="display:inline" class="pull-left">
          <%= @employer.name %>  
          <% if @employer.external %>
            <span class="label label-warning"><%= t("employers.external")%></span>         
          <% end %> 
        </h1>
      <% if can? :edit, @employer %>
        <%= link_to t('links.edit'), edit_employer_path(@employer), :type => "button", :class => "btn btn-default pull-right" %>
      <% end %>
    </div>
    <div class="col-sm-3">
      <%= image_tag(@employer.avatar.url, size: "200", class: "img-thumbnail pull-left", alt: "Picture: "+@employer.name )  %>
    </div>
</div>

<br><br>
<div class="panel panel-default">
  <div class="panel-heading"><h4><%= t("activerecord.attributes.employer.description") %></h4></div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="row">
        <div class="col-sm-12">
          <%= sanitize_html(@employer.description.html_safe) %>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h4><%= t("employers.general_information") %></h4></div>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row field">
                <div class="col-sm-4">
                  <%= t("activerecord.attributes.employer.head") %>
                </div>
                <div class="col-sm-8">
                  <%= @employer.head %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-4">
                  <%= t("activerecord.attributes.employer.deputy") %>
                </div>
                <div class="col-sm-8">
                  <%= link_to @employer.deputy.firstname+" "+@employer.deputy.lastname, @employer.deputy %>
                </div>
              </div>
            </li>
          </ul>
        </div>

        <% unless @open_job_offers.empty? %>
            <div class="panel panel-default">
              <div class="panel-heading"><h4><%= t("employers.open_job_offers") %></h4></div>
              <%= render 'shared/jobs_listing', job_offer_list: @open_job_offers %>
            </div>
        <% end %>

        <% unless @running_job_offers.empty? %>
            <div class="panel panel-default">
                <div class="panel-heading"><h4><%= t("employers.running_job_offers") %></h4></div>
                <%= render 'shared/jobs_listing', job_offer_list: @running_job_offers %>
            </div>
        <% end %>

        <% unless @pending_job_offers.empty? %>
          <% if user_is_staff_of_employer?(@pending_job_offers.first) || current_user.admin? %>
            <div class="panel panel-default">
                <div class="panel-heading"><h4><%= t("employers.pending_job_offers") %></h4></div>
                <%= render 'shared/jobs_listing', job_offer_list: @pending_job_offers %>
            </div>
          <% end %>
        <% end %>
    </div>

    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><h4><%= t("employers.staff") %></h4></div>
          <ul class="list-group">
            <% @staff.each do |user| %>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-9">
                    <% if user.student? %>
                      <%= link_to user.full_name, student_path(user), :class => "h4" %>
                    <% else %>
                      <%= link_to user.full_name, staff_path(user), :class => "h4" %>
                    <%end%>
                  </div>
                   <% if can? :promote, user %>
                    <div class="col-md-1">
                      <button class="btn btn btn-default demote" style="float:right" data-id="<%= user.id %>" data-toggle="modal" data-target="#myModal"><%= t('employers.demote_button') %></button>
                    </div>
                   <% end %>
                  <% if can? :promote, user %>
                    <div class="col-md-1 col-md-offset-1">
                      <button class="btn btn btn-default promote" style="float:right" data-id="<%= user.id %>" data-toggle="modal" data-target="#promoteDialog"><%= t('students.promote_button') %></button>
                    </div>
                  <% end %>

                </div>
              </li>
            <%end%>
          </ul>
          <div class="pull-right">
            <%= will_paginate @staff, renderer: BootstrapPagination::Rails %>
          </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%=t("students.promote_title")%></h4>
      </div>
      <div class="modal-body">
        <div><%= t('students.demote_description_introduction')%></div><br>
        <ul>
          <li><%= t('students.demote_description_part_1')%></li>
          <li><%= t('students.demote_description_part_2')%></li>
        </ul>
        <%= form_tag demote_staff_employers_path do %>
          <%= hidden_field_tag "user_id", nil, class: "user-id" %>
          <% if defined? @employer %>
            <%= hidden_field_tag :id, @employer.id %>
          <% end %>

          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= label_tag 'role_name', t('students.new_role_label'), :class => "control-label" %>
                </div>
                <div class="col-sm-9">
                  <%= select_tag :role_name, options_for_select([Role.find_by_level(1).name], Role.find_by_level(1).name), :class => "select form-control" %>
                </div>
              </div>
            </li> 
            <li class="list-group-item deputy_select">
              <div class="row">
                <div class="col-sm-3">
                  <%= label_tag 'new_deputy_id', t('students.new_deputy_label'), :class => "control-label" %>
                </div>
                <div class="col-sm-9">
                  <%= select_tag :new_deputy_id, options_from_collection_for_select(User.order(:lastname), "id", "full_name"), :class => "select form-control" %>
                </div>
              </div>
            </li>           
          </ul>       
          <div class="row">
            <div class="col-md-1 col-md-offset-9">
              <%= submit_tag t('employers.demote_button'), :data => {confirm: t('employers.demote_confirm_question')}, :class => "btn btn-default change-role" %>
            </div>
          </div>
        <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="promoteDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><%=t("students.promote_title")%></h4>
      </div>
      <div class="modal-body">
        <div><%= t('students.promote_description_introduction')%></div><br>
        <ul>
          <li><%= t('students.promote_description_part_1')%></li>
          <li><%= t('students.promote_description_part_2')%></li>
          <li><%= t('students.promote_description_part_3')%></li>
        </ul>
      <%= form_tag promote_staff_employers_path do %>
        <%= hidden_field_tag "user_id", nil, class: "user-id"  %>
        <%= hidden_field_tag :id, @employer.id %>       
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-3">
                <%= label_tag 'role_level', 'New Role: ', :class => "control-label" %>
              </div>
              <div class="col-sm-9">
                <%= select_tag :role_level, options_for_select([["Deputy", 4]] ), :class => "select form-control" %>     
              </div>
            </div>
          </li>
        </ul>
        <div class="row">
          <div class="col-md-1 col-md-offset-9">
            <%= submit_tag t('students.promote_button'), :data => {confirm: t('students.promote_confirm_question')}, :class => "btn btn-default change-role" %>
          </div>
        </div>       
      <% end %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
