<ul class="list-group">
  <% students.each do |student| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-9" style="width: 100%;">
          <%= link_to student.full_name, student_path(student), :class => "h4" %>
          
          <% if defined?(show_fire_button) && show_fire_button %>
            <%= simple_form_for [:fire, @job_offer], method: :post, class: "form-inline" do |f| %>
              <%= f.hidden_field :student_id, value: student.id %>
              <%= f.submit t("job_offers.fire"), class: 'btn btn-default pull-right', style: "margin-top: -20px;" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
  <%end%>
</ul>
<div class="pull-right">
  <%= will_paginate students, renderer: BootstrapPagination::Rails %>
</div>
