<%= form_for(@job_offer) do |f| %>
  <% if @job_offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_offer.errors.count, "error") %> prohibited this job_offer from being saved:</h2>

      <ul>
      <% @job_offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :chair %><br>
    <%= f.text_field :chair %>
  </div>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.text_field  :start_date, :class => 'datepicker', :value => (@job_offer.start_date.blank? ? '' : @job_offer.start_date.strftime('%d-%m-%Y'))%>
  </div>

   <div class="field">
    <%= f.label :end_date %><br>
    <%= f.text_field :end_time, :class => 'datepicker', :value => (@job_offer.end_time.blank? ? '' : @job_offer.end_time.strftime('%d-%m-%Y'))%>
  </div>

  <div class="field">
    <%= f.label :time_effort %><br>
    <%= f.text_field :time_effort %>
  </div>

  <div class="field">
    <%= f.label :compensation %><br>
    <%= f.text_field :compensation %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
