<%= simple_form_for job_offer do |f| %>
  <%= render 'shared/object_errors', object: job_offer %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t("activerecord.attributes.job_offer.general_information") %></h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
            <% if current_user.admin? %>
              <div class="col-sm-6">
            <% else %>
              <div class="col-sm-12">
            <% end %>
                  <div class="row">
                    <div class="col-sm-3">
                      <%= label_field f, :title, t("activerecord.attributes.job_offer.title") %>
                    </div>
                    <div class="col-sm-9">
                      <%= f.input :title %>
                    </div>
                  </div>
              </div>
              <% if current_user.admin? %>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12" style="text-align:right;">
                    <%= f.collection_select :employer_id, Employer.all, :id, :name, {prompt: t("job_offers.select_employer")}, {class: "form-control"} %>
                  </div>
                </div>
              </div>

              <% end %>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-12">
                <%= label_field f, :description, t("activerecord.attributes.job_offer.description") %>
                <%= f.bootsy_area :description, rows: 10, class: "col-md-11 form-control", placeholder: t("job_offers.enter_description") %>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%= t("activerecord.attributes.job_offer.additional_information") %></h4>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= label_field f, :state, t("activerecord.attributes.job_offer.region") %>
                </div>
                <div class="col-sm-8 pull-right">                   
                     <%= f.select :state_id, JobOffer::STATES.each_with_index.collect {|state, index| 
                      [t("activerecord.attributes.job_offer.state." + state), index]}, {}, 
                      {id: 'state_id', class: 'select optional form-control'} %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= label_field f, :category, t("activerecord.attributes.job_offer.category") %>
                </div>
                <div class="col-sm-8 pull-right"> 
                <% if params[:book_single_job_offer] %>
                  <%= hidden_field_tag :book_single_job_offer, params[:book_single_job_offer] %>
                  <%= f.select :category_id, [[t("job_offers.category.graduate_job"), 2, selected: true]], 
                  disabled: true, 
                  class: 'select optional form-control'%>
                <% else %>                  
                  <%= f.select :category_id, JobOffer::CATEGORIES.each_with_index.collect { |category, index| 
                      can_book = current_user.admin? || current_user.manifestation.employer.can_create_job_offer?(category)
                      [t("job_offers.category." + category), 
                      index, 
                      {'can_book' => can_book}]
                     }, {}, {id: 'category_id', class: 'select optional form-control', } %>
                <% end %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-4">
                  <%= label_field f, :graduation_id, t("activerecord.attributes.user.minimum_degree") %>
                </div>
                <div class="col-sm-8 pull-right">
                  <%= f.select :graduation_id, JobOffer::GRADUATIONS.each_with_index.collect {|grade, index|
                  [t("activerecord.attributes.user.degrees." + grade), index]
                  }, {}, {id: 'graduation_id', class: 'select optional form-control'} %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
          <div class="row">
            <div class="col-sm-4">
              <%= label_field f, :start_date, t("activerecord.attributes.job_offer.start_date") %>
            </div>
            <div class="col-sm-8 pull-right">
               <%= f.text_field :start_date, class: 'datepicker form-control', value: (job_offer.start_date.nil? || job_offer.flexible_start_date ? t('job_offers.default_startdate') : job_offer.start_date.strftime('%d-%m-%Y'))%>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= label_field f, :end_date, t("activerecord.attributes.job_offer.end_date") %>
            </div>
            <div class="col-sm-8 pull-right">
              <%= f.text_field :end_date, class: 'datepicker form-control', value: (job_offer.end_date.nil? ? '' : job_offer.end_date.strftime('%d-%m-%Y'))%>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= label_field f, :time_effort, t("activerecord.attributes.job_offer.time_effort") %>
            </div>
            <div class="col-sm-8 pull-right">
              <%= f.input :time_effort, placeholder: t("job_offers.time_effort_description") %>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= label_field f, :compensation, t("activerecord.attributes.job_offer.compensation") %>
            </div>
            <div class="col-sm-8 pull-right">
              <%= f.input :compensation, placeholder: t("job_offers.compensation_description"), input_html: { value: (job_offer.compensation) } %>
            </div>
          </div>
        </li>
      <ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%= t("activerecord.attributes.employer.contact") %></h4>
          </div>
          <ul class="list-group">
            <%= f.simple_fields_for :contact, @job_offer.contact do |c| %>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= label_field f, :name, t("activerecord.attributes.employer.contacting.name") %>
                </div>
                <div class="col-sm-9">
                  <%= c.input :name,  
                  :input_html =>  @job_offer.contact.name.nil? && current_user.staff? && !current_user.manifestation.employer.nil? ? { :value => current_user.manifestation.employer.contact.name } : nil %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= label_field f, :street, t("activerecord.attributes.employer.contacting.street") %>
                </div>
                <div class="col-sm-9">
                  <%= c.input :street,  
                  :input_html =>  @job_offer.contact.street.nil? && current_user.staff? && !current_user.manifestation.employer.nil? ? { :value => current_user.manifestation.employer.contact.street } : nil %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= label_field f, :zip_city, t("activerecord.attributes.employer.contacting.zip_city") %>
                </div>
                <div class="col-sm-9">
                  <%= c.input :zip_city,  
                  :input_html =>  @job_offer.contact.zip_city.nil? && current_user.staff? && !current_user.manifestation.employer.nil? ? { :value => current_user.manifestation.employer.contact.zip_city } : nil %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= label_field f, :email, t("activerecord.attributes.employer.contacting.email") %>
                </div>
                <div class="col-sm-9">
                  <%= c.input :email,  
                  :input_html =>  @job_offer.contact.email.nil? && current_user.staff? && !current_user.manifestation.employer.nil? ? { :value => current_user.manifestation.employer.contact.email } : nil %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= label_field f, :phone, t("activerecord.attributes.employer.contacting.phone") %>
                </div>
                <div class="col-sm-9">
                  <%= c.input :phone,  
                  :input_html =>  @job_offer.contact.phone.nil? && current_user.staff? && !current_user.manifestation.employer.nil? ? { :value => current_user.manifestation.employer.contact.phone } : nil %>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t("job_offers.required_programming_languages") %></h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <%= hidden_field_tag "job_offer[programming_language_ids][]", nil %>
              <% ProgrammingLanguage.all.each_with_index do |programming_language, index| %>
              <div class="col-sm-4">
                <%= check_box_tag "job_offer[programming_language_ids][]", programming_language.id, job_offer.programming_language_ids.include?(programming_language.id), id: dom_id(programming_language)%>
                <%= label_tag dom_id(programming_language), programming_language.name, :class => "small" %>
              </div>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%= t("job_offers.required_languages") %></h4>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <%= hidden_field_tag "job_offer[language_ids][]", nil %>
                <% Language.all.each_with_index do |language, index| %>
                <div class="col-sm-4">
                  <%= check_box_tag "job_offer[language_ids][]", language.id, job_offer.language_ids.include?(language.id), id: dom_id(language) %>
                  <%= label_tag dom_id(language), t("languages." +  language.name), :class => "small" %>
                </div>
                <% end %>
              </div>
            </li>
          <ul>
        </div>
      <% if JobOffer.validators.map(&:class).include? ActiveRecord::Validations::PresenceValidator %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>
              <%= t("layouts.asterisk_description") %>
            </h5>
          </div>
        </div>
      <% end %>
      </div>
  </div>

  <div class="actions">
    <input name="other" value="<%= params[:book_single_job_offer] %>" type="hidden">
    <%= f.submit t("links.save"), :class => "btn btn-warning pull-right", :id => "submit" %>
  </div>
<% end %>
<% if current_user.staff? %>
  <% content_for :modals do %>
    <%= render 'book_modal' %>
  <% end %>
<% end %>