<%= simple_form_for job_offer do |f| %>
  <%= render 'shared/object_errors', object: job_offer %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><%= t("activerecord.attributes.job_offer.general_information") %></h4>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="row">
        <% if current_user.admin? %>
          <div class="col-sm-6">
        <% else %>
          <div class="col-sm-12">
        <% end %>
              <div class="row">
                <div class="col-sm-3">
                  <%= f.label t "activerecord.attributes.job_offer.title", class: "control-label" %><%= mark_if_required(@job_offer, :title) %>
                </div>
                <div class="col-sm-9">
                  <%= f.input :title %>
                </div>
              </div>
          </div>
          <% if current_user.admin? %>
          <div class="col-sm-6">
           <div class="row">
                <div class="col-sm-12" style="text-align:right;">
                    <%= f.collection_select :employer_id, Employer.all, :id, :name, {prompt: t("job_offers.select_employer")}, {class: "form-control"} %>
                </div>
              </div>
          </div>

          <% end %>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-12">
            <%= f.label t "activerecord.attributes.job_offer.description", class: "control-label" %><%= mark_if_required(@job_offer, :description) %>
            <%= f.bootsy_area :description, rows: 10, class: "col-md-11 form-control", placeholder: t("job_offers.enter_description") %>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%= t("activerecord.attributes.job_offer.additional_information") %></h4>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= f.label t "activerecord.attributes.job_offer.region", class: "control-label" %><%= mark_if_required(@job_offer, :state) %>
                </div>
                <div class="col-sm-8 pull-right">                   
                     <%= f.select :state_id, JobOffer::STATES.each_with_index.collect {|state, index| 
                      [t("activerecord.attributes.job_offer.state." + state), index]}, {}, 
                      {id: 'state_id', class: 'select optional form-control'} %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= f.label t "activerecord.attributes.job_offer.category", class: "control-label" %><%= mark_if_required(@job_offer, :category) %>
                </div>
                <div class="col-sm-8 pull-right">                   
                     <%= f.select :category_id, JobOffer::CATEGORIES.each_with_index.collect {|category, index| [t("job_offers.category." + category), index]}, {}, 
                      {id: 'category_id', class: 'select optional form-control'} %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
          <div class="row">
            <div class="col-sm-3">
              <%= f.label :academic_program, t("activerecord.attributes.user.academic_program"), class: "control-label" %>
            </div>
            <div class="col-sm-8 pull-right">
              <% unless @job_offer.academic_program_id.nil? %>
                <%= mark_if_required(@job_offer, t("activerecord.attributes.user.academic_rank_options." + @job_offer.academic_program)) %>
                <% end %>
            <%= f.select :academic_program_id, JobOffer::ACADEMIC_PROGRAMS.each_with_index.collect {|program, index|
            [t("activerecord.attributes.user.academic_rank_options." + program), index]
            }, {include_blank: true}, {id: 'graduation_id', class: 'select optional form-control'} %>
            </div>
          </div>
        </li>
            <li class="list-group-item">
          <div class="row">
            <div class="col-sm-4">
              <%= f.label :graduation, t("activerecord.attributes.user.minimum_degree"), class: "control-label" %><%= mark_if_required(@job_offer, :graduation_id) %>
            </div>
            <div class="col-sm-8 pull-right">
            <%= f.select :graduation_id, JobOffer::GRADUATIONS.each_with_index.collect {|grade, index|
            [t("activerecord.attributes.user.degrees." + grade), index]
            }, {}, {id: 'graduation_id', class: 'select optional form-control'} %>
            </div>
          </div>
        </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-4">
                  <%= f.label t "activerecord.attributes.job_offer.room_number", class: "control-label" %><%= mark_if_required(@job_offer, :room_number) %>
                </div>
                <div class="col-sm-8 pull-right">
                  <%= f.input :room_number %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-4">
                  <%= f.label t "activerecord.attributes.job_offer.start_date", class: "control-label" %><%= mark_if_required(@job_offer, :start_date) %>
                </div>
                <div class="col-sm-8 pull-right">
                   <%= f.text_field :start_date, class: 'datepicker form-control', value: (job_offer.start_date.nil? || job_offer.flexible_start_date ? t('job_offers.default_startdate') : job_offer.start_date.strftime('%d-%m-%Y'))%>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= f.label t "activerecord.attributes.job_offer.end_date", class: "control-label" %><%= mark_if_required(@job_offer, :end_date) %>
                </div>
                <div class="col-sm-8 pull-right">
                   <%= f.text_field :end_date, class: 'datepicker form-control', value: (job_offer.end_date.nil? ? '' : job_offer.end_date.strftime('%d-%m-%Y'))%>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= f.label t "activerecord.attributes.job_offer.time_effort", class: "control-label" %><%= mark_if_required(@job_offer, :time_effort) %>
                </div>
                <div class="col-sm-8 pull-right">
                  <%= f.input :time_effort, placeholder: t("job_offers.time_effort_description") %>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-3">
                  <%= f.label t "activerecord.attributes.job_offer.compensation", class: "control-label" %><%= mark_if_required(@job_offer, :compensation) %>
                </div>
                <div class="col-sm-8 pull-right">
                  <%= f.input :compensation, placeholder: t("job_offers.compensation_description"), input_html: { value: (job_offer.compensation) } %>
                </div>
              </div>
            </li>
          <ul>
        </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><%= t("job_offers.required_programming_languages") %></h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <%= hidden_field_tag "job_offer[programming_language_ids][]", nil %>
              <% ProgrammingLanguage.all.each_with_index do |programming_language, index| %>
              <div class="col-sm-4">
                <%= check_box_tag "job_offer[programming_language_ids][]", programming_language.id, job_offer.programming_language_ids.include?(programming_language.id), id: dom_id(programming_language)%>
                <%= label_tag dom_id(programming_language), programming_language.name, :class => "small" %>
              </div>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
            <h4><%= t("job_offers.required_languages") %></h4>
          </div>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <%= hidden_field_tag "job_offer[language_ids][]", nil %>
                <% Language.all.each_with_index do |language, index| %>
                <div class="col-sm-4">
                  <%= check_box_tag "job_offer[language_ids][]", language.id, job_offer.language_ids.include?(language.id), id: dom_id(language) %>
                  <%= label_tag dom_id(language), t("languages." +  language.name), :class => "small" %>
                </div>
                <% end %>
              </div>
            </li>
          <ul>
        </div>
      <% if JobOffer.validators.map(&:class).include? ActiveRecord::Validations::PresenceValidator %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>
              <%= t("layouts.asterisk_description") %>
            </h5>
          </div>
        </div>
      <% end %>
      </div>
  </div>

  <div class="actions">
    <%= f.submit t("links.save"), :class => "btn btn-warning pull-right" %>
  </div>

<% end %>
