<div class="row">
	<div class="col-md-3">
		<%= render 'sidebar' %>
	</div>
  <div class="col-md-6"> 
    <div class="row">
      <h1> <%= t "job_offers.headline"%> - <%= t "job_offers.archive"%></h1> 
      <% @find_jobs_path = find_jobs_job_offers_path %>
      <%= render 'shared/overview' %>
    </div><!--/.row -->
  </div><!--/.span -->
  <div class="col-md-3">
  	<%= render 'shared/sort_filter_search'  %>
  </div>
</div> <!-- /row -->


