<h1>Listing job_offers</h1>

<script>
$('input:checkbox').click(function(e){
  $(this).closest('form').submit();
});
</script>

<%= form_tag("/job_offers/sort", :method => :get ) do %>
    <%= check_box_tag 'sort_date', 'sort_date' %>
    <%= label_tag "sort_date", "Sort by Date", :class => "checkbox inline" %><br />
    <%= check_box_tag 'sort_chair', 'sort_chair' %>
    <%= label_tag "sort_chair", "Sort by Chair", :class => "checkbox inline" %>
<% end %> 

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_offers.each do |job_offer| %>
      <tr>
        <td><%= job_offer.description %></td>
        <td><%= job_offer.title %></td>
        <td><%= link_to 'Show', job_offer %></td>
        <td><%= link_to 'Edit', edit_job_offer_path(job_offer) %></td>
        <td><%= link_to 'Destroy', job_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job offer', new_job_offer_path %>
