
<h1>Listing job_offers</h1>


<%= form_tag( "/job_offers/sort", :method => :get, :id => 'Form' ) do %>
    
    <div style="display:inline">
      Sort by <br />
      <%= label_tag :sort, "Date", :class => "radio inline " %>
      <%= radio_button_tag :sort_value, 'date' , false %>
      <%= label_tag :sort, 'Chair', :class => "radio inline" %>
      <%= radio_button_tag :sort_value, 'chair' , false %>
      
    <%= submit_tag "go" %>
    </div>
<% end %> 

<a href='#' onclick='$("#Form").submit();'>Link</a>
<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_offers.each do |job_offer| %>
      <tr>
        <td><%= job_offer.description %></td>
        <td><%= job_offer.title %></td>
        <td><%= link_to 'Show', job_offer %></td>
        <td><%= link_to 'Edit', edit_job_offer_path(job_offer) %></td>
        <td><%= link_to 'Destroy', job_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job offer', new_job_offer_path %>
