
<div class="row">
	<div class="col-md-3">
		<%= render 'sidebar' %>
	</div>
  <div class="col-md-6"> 
    <div class="row">
      <h1 style="display:inline"> <%= t "job_offers.headline" %> </h1> 
      <%= link_to t("job_offers.new_job_offer"), new_job_offer_path, :class => "btn btn-success pull-right", :style => "margin-bottom: 20px"%>
      <br><br>
       <%= render 'shared/overview' %>
    </div><!--/.row -->
  </div><!--/.span -->
  <% @find_jobs_path = find_jobs_job_offers_path %>
  <div class="col-md-3">
  	<%= render 'shared/sort_filter_search'  %>
  </div>
</div> <!-- /row -->
