<div class="wrapper-8 teaser">
  <div class="col-md-8">
      <div id="buttons" style="margin-top: 10px">
      <% if can?(:create, JobOffer) %>
        <%= link_to t("job_offers.new_job_offer"), new_job_offer_path, class: "btn btn-default pull-right", style: "margin-bottom: 20px; margin-left: 5px;"%>
      <% end %>
      <%= link_to t("job_offers.archive"), archive_job_offers_path, class: "btn btn-default pull-right", style: "margin-bottom: 20px"  %>
      <% if current_user.student? %>
        <%= link_to t("job_offers.recommended_jobs"), matching_job_offers_path(language_ids: current_user.languages.map(&:id),
          programming_language_ids: current_user.programming_languages.map(&:id)), class: "btn btn-default pull-right", style: "margin-left: 5px;" %>
      <% end %>
       <%= render 'shared/jobs_listing_detailed', name: @job_offers_list[:name], job_offer_list: @job_offers_list[:items] %>
     </div>
  </div><!--/.span -->
</div>
<div class="wrapper-5 teaser sidebar">
  <div class="col-md-4">
  	<%= render 'shared/sort_filter_search', find_path: job_offers_path %>
  </div>
</div>