<div class="wrapper-12 panel-wrapper">
  <span class="pull-left" id="top-links">
    <% if can?(:create, JobOffer) %>
      <%= link_to t("job_offers.new_job_offer"), new_job_offer_path, class: "btn btn-default pull-right title-button" %>
    <% end %>
    <%= link_to t("job_offers.archive"), archive_job_offers_path, class: "btn btn-default pull-right title-button" %>
    <% if current_user && current_user.student? %>
      <%= link_to t("job_offers.recommended_jobs"), matching_job_offers_path(language_ids: current_user.manifestation.languages.map(&:id),
        programming_language_ids: current_user.manifestation.programming_languages.map(&:id)), class: "btn btn-default pull-right title-button"%>
      <%= link_to t("job_offers.dschool_jobs"), job_offers_path(student_group: Student.group_id("dschool")), class: "btn btn-default pull-right title-button"%>
      <%= link_to t("job_offers.hpi_jobs"), job_offers_path(student_group: Student.group_id("hpi")), class: "btn btn-default pull-right title-button"%>
    <% end %>
  </span>
</div>

<div class="wrapper-8 teaser">
  <div class="col-md-8 list-container">
    <%= render 'shared/jobs_listing_detailed', job_offer_list: @job_offers_list[:items], create_link_to_details: true %>
  </div><!--/.span -->
</div>
<div class="wrapper-4 teaser sidebar">
  <div class="col-md-4">
    <%= render 'shared/sort_filter_search', find_path: job_offers_path %>
  </div>
  
  <div class="col-md-4">
    <%= render "shared/contact" %>
  </div>
</div>
