<h1>Listing job_offers</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Title</th>
      <th>Chair</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_offers.each do |job_offer| %>
      <tr>
        <td><%= job_offer.description %></td>
        <td><%= job_offer.title %></td>
        <td><%= job_offer.chair %></td>
        <td><%= link_to 'Show', job_offer %></td>
        <td><%= link_to 'Edit', edit_job_offer_path(job_offer) %></td>
        <td><%= link_to 'Destroy', job_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job offer', new_job_offer_path %>
