
<div class="row">


  <div class="col-md-8"> 
    <div class="row">
      <h1> <%= t "job_offers.headline" %> </h1> 
      <%= link_to t("job_offers.new_job_offer"), new_job_offer_path, :class => "btn btn-success", :style => "margin-bottom: 20px"%>
       

      <ul class="list-group">
      <% @job_offers.each_with_index do |job_offer, index| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-8">
              <h4><%= link_to job_offer.title, job_offer%></h4>
            </div>
            <div class="col-md-4">
              <p class="startDate"><%= t("job_offers.starts ") %><%= l(job_offer.start_date) %></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-11 col-md-offset-1">
              <p class="chair"><%= job_offer.chair %></p>
            </div>
          </div>
        </li>
      <%end%>
    </ul>
    </div><!--/.row -->
  </div><!--/.span -->

  <div class="col-md-4">
    <div class="container ">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li>
            <%= form_tag( "/job_offers/sort", :method => :get, :id => 'Form' ) do %> 
            <%= label_tag :sort, "Date", :class => "radio inline " %>
            <%= radio_button_tag :sort_value, 'date' , true, :checked => @radio_button_sort_value["date"],
            :id => "sort_by_date_RB"  %>
            <%= label_tag :sort, 'Chair', :class => "radio inline" %>
            <%= radio_button_tag :sort_value, 'chair' , false, :checked => @radio_button_sort_value["chair"] %>     
            <%= submit_tag t("job_offers.sortButton"), :class => "btn btn-default" %>
            <% end %> 
          </li>
        </ul>
      </div><!--/.well -->
    </div> <!-- /container -->

    <div class="well sidebar-nav">
      <div class="container">
        <ul class="nav nav-list">
          <li class="search">
            <%= form_tag("/job_offers/search", :method => :get, :id => 'Form') do %>
            <%= label_tag(:q, t("job_offers.searchLabel")) %>
            <%= text_field_tag(:search, params[:search], :placeholder=>'search term', :class => "form-control") %>
            <%= submit_tag t("job_offers.searchButton"), :class => "btn btn-default" %>
            <% end %>
          </li>
        </ul>
      </div><!--/.well -->
    </div> <!-- /container -->
    
    <div class="well sidebar-nav">
      <div class="container">
        <ul class="nav nav-list">
          <li class="filter">
            <%= form_tag( "/job_offers/filter", :method => :get, :id => 'Form') do %> 
              <div class="row">
                <div class="col-md-5">
                  <%= label_tag t("job_offer.chair") %>
                </div>
                <div class="col-md-5">
                  <%= text_field_tag :chair, params.fetch(:chair, ''), :class => "form-control" %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <%= label_tag t("job_offer.start_date") %>
                </div>
                <div class="col-md-5">
                  <%= text_field_tag  :start_date, params.fetch(:start_date, ''), :class => 'datepicker form-control'%>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <%= label_tag t("job_offer.end_date") %>
                </div>
                <div class="col-md-5">
                  <%= text_field_tag :end_date, params.fetch(:end_date, ''), :class => 'datepicker form-control'%>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <%= label_tag t("job_offer.time_effort") %>
                </div>
                <div class="col-md-5">
                  <%= text_field_tag :time_effort, params.fetch(:time_effort, ''), :class => "form-control" %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <%= label_tag t("job_offer.compensation") %>
                </div>
                <div class="col-md-5">
                  <%= text_field_tag :compensation, params.fetch(:compensation, ''), :class => "form-control" %>
                </div>
              </div>
              <div class="col-md-3 col-md-offset-9">
              <%= submit_tag t("job_offers.filterButton"), :class => "btn btn-default" %>
              </div>
            <% end %>
          </li>
        </ul>
      </div><!--/.well -->
    </div> <!-- /container -->


  </div> <!-- /span -->  

</div> <!-- /row -->

