<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @job_offer.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job_offer.title %>
</p>

<%= link_to 'Edit', edit_job_offer_path(@job_offer) %> |
<%= link_to 'Back', job_offers_path %>
