<div class="wrapper-12 panel-wrapper">
  <div class="row">
    <div class="col-sm-12">
          <% if @job_offer.pending? %>
            <span> - <%= t("job_status.pending") %></span>
          <% end %>
        <p style="color:#FFFFFF;"><%= @job_offer.employer.name %></p>
    </div>
    <div class="col-sm-12 text-left">
      <p>
        <% if @job_offer.pending? && can?(:accept, @job_offer) %>
          <%= link_to t("job_offers.accept"), accept_job_offer_path(@job_offer), class: "btn btn-success", data: {confirm: t("job_offers.accept_confirm")} %>
          <%= link_to t("job_offers.decline"), decline_job_offer_path(@job_offer), class: "btn btn-danger", data: {confirm: t("job_offers.decline_confirm")} %>
        <% end %>

        <% if @job_offer.closed? && can?(:reopen, @job_offer) && %>
          <%= link_to t("job_offers.reopen_job"), reopen_job_offer_path(@job_offer), class: "btn btn-default " %>
        <% end %>

        <% if can?(:prolong, @job_offer) %>
          <%= link_to t("job_offers.prolong"), prolong_job_offer_path(@job_offer), class: "btn btn-default" %>
        <% elsif can?(:request_prolong, @job_offer) %>
          <% if @job_offer.prolong_requested %>
            <a class="btn btn-default" disabled="disabled"><%= t("job_offers.prolong_requested") %></a>
          <% else %>
            <%= t("activerecord.attributes.job_offer.expiration_date") %>: <%= @job_offer.expiration_date %>
            <%= link_to t("job_offers.prolong"), request_prolong_job_offer_path(@job_offer), class: "btn btn-default" %>
          <% end %>
        <% end %>

        <% if can?(:update, @job_offer) && !@job_offer.closed? %>
          <%= link_to t("job_offers.show_matching_students"),
          students_path(graduation_id: @job_offer.graduation_id,
          language_ids: @job_offer.languages.ids, programming_language_ids: @job_offer.programming_languages.ids), class: "btn btn-default", disabled: !@job_offer.editable? %>
          <% if can?(:edit, @job_offer) %>
            <%= link_to t("links.edit"), edit_job_offer_path(@job_offer), class: "btn btn-default", disabled: !@job_offer.editable? %>
            <%= link_to t("links.destroy"), job_offer_path(@job_offer), data: { confirm: t("links.confirm") }, method: :delete, class: "btn btn-danger", disabled: !@job_offer.editable? %>
          <% end %>
        <% end %>
        <% if can?(:close, @job_offer) && @job_offer.active? %>
          <%= link_to t("job_offers.job_completed"), close_job_offer_path(@job_offer), class: "btn btn-default" %>
        <% end %>
      </p>
    </div>
  </div>
</div>

<div class="wrapper-12 panel-wrapper">
  <div class="row">
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= @job_offer.title %></h4></div>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-12 text-editor-body">
                <%= sanitized_html(@job_offer.description) %>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
    <div class="col-sm-4">
      <center>
          <%= image_tag(@job_offer.employer.avatar.url, size: "200", class: "img-thumbnail", alt: "Picture: " + @job_offer.employer.name )  %>
      </center>

      <div class="row">
        <div class="col-sm-12 stars-dark-background">
          <center>
            <% if can? :read, Rating %>
               <%= render "ratings/employer_rating_stars", employer: @job_offer.employer %>
               <%= link_to t("ratings.click_here"), employer_ratings_path(@job_offer.employer), {class: "link_to_ratings"} %>
            <% end %>
          </center>
        </div>
      </div>
      </br>

      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= t("activerecord.attributes.job_offer.additional_information") %></h4></div>
        <ul class="list-group">
          <%= render 'job_offers/list_group_item', title: t("activerecord.attributes.job_offer.region"), content: (t("activerecord.attributes.job_offer.state." + @job_offer.state)) %>
          <%= render 'job_offers/list_group_item', title: t("activerecord.attributes.job_offer.category"), content: (t("job_offers.category." + @job_offer.category)) %>
          <%= render 'job_offers/list_group_item', title: t("activerecord.attributes.user.minimum_degree"), content: (t("activerecord.attributes.user.degrees." + @job_offer.minimum_degree)) %>
          <% if @job_offer.release_date.blank? %>
            <%= render 'job_offers/list_group_item', title: t("activerecord.attributes.job_offer.start_date"), content: l(@job_offer.start_date) %>
          <% else %>
            <%= render 'job_offers/list_group_item', title: t("activerecord.attributes.job_offer.release_date"), content: l(@job_offer.release_date) %>
          <% end %>
          <% unless @job_offer.end_date.blank? %>
            <%= render 'job_offers/list_group_item', title: t("activerecord.attributes.job_offer.end_date"), content: l(@job_offer.end_date) %>
          <% end %>
          <% unless @job_offer.time_effort.blank? %>
            <%= render 'job_offers/list_group_item', title: t("activerecord.attributes.job_offer.time_effort"), content: (@job_offer.time_effort.to_s  + " " + t("job_offers.time_effort_description")) %>
          <% end %>
          <% unless @job_offer.compensation.nil? %>
          <%= render 'job_offers/list_group_item', title: t("activerecord.attributes.job_offer.compensation"), content: @job_offer.human_readable_compensation %>
          <% end %>
          <% unless @job_offer.employer.staff_members.blank? %>
            <%= render 'job_offers/list_group_item', title: t("activerecord.attributes.job_offer.contact"),
            content: (@job_offer.employer.staff_members.map {|staff| (link_to staff.full_name, staff)}.join('<br>').html_safe) %>
          <% end %>
          <% unless @job_offer.offer_as_pdf.blank? %>
            <%= render 'job_offers/list_group_item', title: t("job_offers.upload_job_offer_pdf"),
            content: (link_to @job_offer.offer_as_pdf_file_name, @job_offer.offer_as_pdf.url(:original, false)) %>
          <% end %>
        </ul>
      </div>
      <% unless @job_offer.programming_languages.blank? %>
        <%= render 'job_offers/language_list', title: t("job_offers.required_programming_languages"), languages: @job_offer.programming_languages %>
      <% end %>

      <% unless @job_offer.languages.blank? %>
        <%= render 'job_offers/language_list', title: t("job_offers.required_languages"), languages: @job_offer.languages %>
      <% end %>

      <% if @job_offer.contact && !@job_offer.contact.is_empty? %>
        <div class="panel panel-default">
          <div class="panel-heading"><h4><%= t("activerecord.attributes.employer.contact") %></h4></div>
            <li class="list-group-item">
              <div class="row">
                <div class="col-sm-8">
                  <%= simple_format @job_offer.contact.merged %>
                </div>
              </div>
            </li>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>