<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @job_offer.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job_offer.title %>
</p>

<%= link_to 'Edit', edit_job_offer_path(@job_offer) %> |
<%= link_to 'Back', job_offers_path %>

<% if signed_in? && !current_user.applied?(@job_offer) %>
  <%= form_for current_user.applications.build(job_offer_id: @job_offer.id) do |f| %>
    <div><%= f.hidden_field :job_offer_id %></div>
    <%= f.submit 'Apply', class: 'btn btn-success apply-button' %>
  <% end %>
<% end %>

<% if @job_offer.applications.any? %>
  <br /><br />
  <h4> Applications </h4>
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <%= render @job_offer.applications %>
    </tbody>
  </table>
<% end %>
