<div class="row">
  <div class="col-md-12">

    <% if @job_offer.pending? && user_is_deputy_of_chair?(@job_offer.chair) %>
      <%= link_to t("job_offers.accept"), accept_job_offer_path(@job_offer), :class=>"btn btn-success" %>
      <%= link_to t("job_offers.decline"), decline_job_offer_path(@job_offer), :class=>"btn btn-danger", data: {confirm: "Are you sure?"} %>
    <% end %>

    <% if !@job_offer.completed? && (user_is_responsible_user?(@job_offer) || user_is_deputy_of_chair?(@job_offer.chair)) %>
      <span class="pull-right">
        <%= link_to t("job_offers.show_matching_students"), matching_students_path(:languages => get_language_names, :programming_languages => get_programming_language_names), :class => "btn btn-default", :disabled => !@job_offer.editable? %>

        <%= link_to t("links.edit"), edit_job_offer_path(@job_offer), "data-no-turbolink" => true, :class => "btn btn-default", :disabled => !@job_offer.editable? %> 
        
        <%= link_to t("links.destroy"), job_offer_path(@job_offer), :data => { :confirm => t("links.confirm") }, :method => :delete, :class => "btn btn-danger", :disabled => !@job_offer.editable? %>
      </span>
    <% end %>
    
    <h1>
      <%= @job_offer.title %>
      <% if @job_offer.pending? %>
        <span> - pending</span>
      <% end %>
    </h1>

    <% if signed_in? && current_user.applied?(@job_offer) %>
      <br><br>
       <div class="panel panel-default panel-body">
        <%= t("job_offers.already_applied") %>
      </div>
    <% end %>

    <div class="panel panel-default panel-body">

      <table class="table">
        <tr>
          <td><b><%= t("activerecord.attributes.job_offer.description") %></b></td>
          <td><%= @job_offer.description %></td>
        </tr>
        <tr>
          <td><b><%= t("activerecord.attributes.job_offer.room_number") %></b></td>
          <td><%= @job_offer.room_number %></td>
        </tr>
        <tr>
          <td><b><%= t("activerecord.attributes.job_offer.chair") %></b></td>
          <td><%= @job_offer.chair.name %></td>
        </tr>
        <tr>
          <td><b><%= t("activerecord.attributes.job_offer.start_date") %></b></td>
          <td><%= @job_offer.start_date %></td>
        </tr>
        <tr>
          <td><b><%= t("activerecord.attributes.job_offer.end_date") %></b></td>
          <td><%= @job_offer.end_date %></td>
        </tr>
        <tr>
          <td><b><%= t("activerecord.attributes.job_offer.time_effort") %></b></td>
          <td><%= @job_offer.time_effort %> h/week</td>
        </tr>
        <tr>
          <td><b><%= t("activerecord.attributes.job_offer.compensation") %></b></td>
          <td><%= @job_offer.compensation %> €/h</td>
        </tr>
        <% if @job_offer.responsible_user %>
          <tr>
            <td><b><%= t("job_offers.contact") %></b></td>
            <td>
              <%= mail_to  @job_offer.responsible_user.email, @job_offer.responsible_user.email %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td><b><%= t("activerecord.attributes.job_offer.programming_languages") %></b></td>
          <td>
            <% @job_offer.programming_languages.each do |programming_language| %>
              <%= programming_language.name %><br />
            <% end %>
          </td>
        </tr>
        <tr>
          <td><b><%= t("activerecord.attributes.job_offer.languages") %></b></td>
          <td>
            <% @job_offer.languages.each do |language| %>
              <%= language.name %><br />
            <% end %>
          </td>
        </tr>
    
      </table>

      <% if signed_in? && !current_user.applied?(@job_offer) && can?(:create, Application.new) && @job_offer.open? %>
        <div class="pull-right">
          <%= submit_tag t("job_offers.apply"), class: 'btn btn-success apply-button', data: {toggle: "modal", target: "#applicationEmailModal" } %>
        </div>
      <% end %>
    </div>

    <!-- Modal for sending an application email-->
    <div class="modal fade" id="applicationEmailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel"><%= t "job_offers.send_application_headline" %></h4>
          </div>
          <%= form_for current_user.applications.build(job_offer_id: @job_offer.id) do |f| %>      
            <div class="modal-body clearfix" data-no-turbolink="true">        
              <%= f.hidden_field :job_offer_id %> 
              <%= text_area_tag :message, t("applications_mailer.students.apply.application"), as: :bootsy, :rows => 10, :class => "col-md-12"  %>
              <% if !(current_user.cv.path).nil? %>
                <br/>
                <%= check_box_tag :add_cv, nil, true %>
                <%= label_tag :add_cv, t("job_offers.add_cv_application") %>
                <%= File.basename(current_user.cv.path) %>
              <% end %>
            </div>
            <div class="modal-footer">
              <%= f.button t("links.cancel"), class: 'btn btn-default', data: {dismiss: 'modal'} %> 
              <%= f.submit t("job_offers.send_application"), class: 'btn btn-success apply-button' %>          
            </div>
          <% end %>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <% if signed_in? && @job_offer.applications.any? && !@job_offer.completed? && can?(:read, @job_offer.applications.first) %>
      <div class="clearfix"></div>
      <h4><%= t("job_offers.applications_headline")%></h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th><%= t("job_offers.applicant_first_name") %></th>
            <th><%= t("job_offers.applicant_last_name") %></th>
            <th><%= t("job_offers.applicant_email") %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @job_offer.applications %>
        </tbody>
      </table>
    <% end %>
    <% if signed_in? && user_is_research_assistant_of_chair?(@job_offer) && @job_offer.running? %>
      <%= link_to t("job_offers.job_completed"), complete_job_offer_path(@job_offer), :class => "btn btn-primary pull-right" %>
    <% end %>
    <% if signed_in? && user_is_research_assistant_of_chair?(@job_offer) && (@job_offer.completed? or @job_offer.running?) %>
      <%= link_to t("job_offers.reopen_job"), reopen_job_offer_path(@job_offer), :class => "btn btn-primary pull-right" %>
    <% end %>
  </div>
</div>
