<div class="row-fluid span9">
	<span class="pull-left">
		<%= link_to 'Back', job_offers_path, :class => "btn" %>
	</span>
	<span class="pull-right">
		<%= link_to 'Edit', edit_job_offer_path(@job_offer), :class => "btn btn-primary" %> 
    <%= link_to 'Destroy', job_offer_path(@job_offer), :confirm => 'Are you sure you want to destroy your account?', :method => :delete, :class => "btn btn-danger" %>
	</span>
	
	<br><br>

<div class="panel">
<h1>
  <%= @job_offer.title %>
</h1>

<dl>
  <dt>Description:</dt>
  <dd> <%= @job_offer.description %></dd>

  <dt>Chair:</dt>
  <dd> <%= @job_offer.chair %></dd>

  <dt>Start Date:</dt>
  <dd> <%= @job_offer.start_date %></dd>

  <dt>End Date:</dt>
  <dd> <%= @job_offer.end_date %></dd>

  <dt>Time Effort:</dt>
  <dd> <%= @job_offer.time_effort %></dd>

  <dt>Compensation:</dt>
  <dd> <%= @job_offer.compensation %></dd>

  <dt>Programming Languages:</dt>
  <% @job_offer.programming_languages.each do |programming_language| %>
    <dd><%= programming_language.name %></dd>
  <% end %>

</dl>
</div>
</div>
  