<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title><%= content_for?(:title) ? yield(:title) : "HpiHiwiPortal" %></title>

<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>

<script type="text/javascript" src="http://fast.fonts.net/jsapi/350d1b28-d257-4734-8083-4bd737fa0c7c.js"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster - placed here only for testing th compenentes easier-->
</head>
<body class="subpage accent3 "><div class="headbg">
  <div class="headtop">
    <div class="smallheader headwrapper">
      <h1><a href="">Internet-Technologien und Systeme</a></h1>
    </div>
     <div class="subsitebackhead">
      <div>
        <h1><a href="http://www.hpi.uni-potsdam.de/"><%= image_tag("hpi_header_logo_neg_srgb.png", alt: "Hasso-Plattner-Institut") %></a>
        
          <div id="social">
              <a href="" class="facebook" class="facebook" alt="facebook"></a>
              <a href="" class="twitter" class="twitter" alt="twitter"></a>
              <a href="" class="rss" class="rss" alt="rss"></a>
              <a href="" class="youtube" class="youtube" alt="youtube"></a>
              <a href="" class="vimeo" class="vimeo" alt="vimeo"></a>
              <ul class="lang_switcher">
                <li><span>de</span></li>
                <li><a href="#0">en</a></li>
              </ul>
          </div>

        </h1>
      </div>
       
     </div>
    <div class="bigheader"><div>
        <a href="index.htm"><%= image_tag("hpi_logo_fb_InternetTechnologien_web80.png", alt:"") %></a>  
      </div>
  </div>
 </div>

  <div class="headbottom">
    <div id="head_bottom" class="collapse navbar-collapse">
    <!-- left -->
              <% if user_signed_in? %>
                <%= render :partial => "layouts/navigation/#{current_user.role.name.downcase}" %>
              <% end %>
      <!-- <ul id="site_nav" class="site_nav">
        <li><a href="#0" class="menu1">Lehrstuhl</a></li>
        <li class="active"><a href="#0" class="menu2">Lehre</a></li>
        <li><a href="#0" class="menu3">Security Tech</a></li>
        <li><a href="#0" class="menu4">Kowledge Tech</a></li>
        <li><a href="#0" class="menu5">Labs & Systems</a></li>
        <li><a href="#0" class="">Publikationen</a></li>
        <li class="search"><form><input type="text" placeholder="Suchbegriff"><button class="btn btn-default btn-xs">Suchen</button></form></li>
      </ul> -->
    </div>
  </div>
   <div class="navbar-header">
    <button class="navbar-toggle" id="menu" type="button" data-toggle="collapse" data-target="#head_bottom">
      Navigation aufklappen/zuklappen
    </button>
   </div>
</div>



<!-- Being submenus -->


<!-- HPI menu -->
<div class="submenu menu1">
  <div class="clearfix">
    <div>
      <p>Die Lehre am Hasso-Plattner-Institut richtet sich an begabte junge Leute, die praxisnah zu IT-Ingenieuren ausgebildet werden wollen. Als universitäres Exzellenz-Center für IT-Systems Engineering mit Standorten in Potsdam und Palo Alto (USA) betreiben wir, gefördert von der dynamischen Stifterpersönlichkeit Professor Hasso Plattner, erstklassige Forschung - auch für renommierte Auftraggeber aus der Wirtschaft...</p>
    </div>
    <div class="submenuli">
      <ul>
        <li><a href="home.php">Prof. Dr. Ch. Meinel</a></li>
        <li><a href="#">Das Studium am HPI</a></li>
        
    </ul>
    </div>
    <div class="subsubmenu">
        <ul>
          <li><a href="#">Das Studium am HPI</a></li>
        </ul>
        
      </div>
    </div>
</div>



<!-- Study menu -->
<div class="submenu menu2">
  <div class="clearfix">
    <div>
      <p>Studium Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="submenuli">
      <ul>
        <li><a href="#">Übersicht</a></li>
        <li><a href="#">Studieninteressierte</a></li>
        
    </ul>
    </div>
    <div class="subsubmenu">
        <ul>
          <li><a href="#">Schülerakademie</a></li>
        </ul>
        
      </div>
    </div>
</div>


<div class="submenu theme3">
  <div class="clearfix">
    <div>
      <p>Genau wie in der Lehre legt das Hasso-Plattner-Institut (HPI) auch in der Forschung besonderen Wert auf wissenschaftliche Exzellenz, Praxisnähe und enge Kooperationen mit der Industrie.</p>
      <p>Die Arbeit der Fachgebiete des HPI steht für exzellente Forschung und Praxisnähe. Den Mittelpunkt bildet dabei die Erforschung hochkomplexer IT-Systeme. Diese sind heutzutage die Basis vieler Unternehmen. Die Forschung am HPI erfolgt daher auch in enger Kooperation mit der Wirtschaft. Das Institut besitzt insgesamt zehn Wissenschaftler-Teams, die am HPI unter hervorragenden Bedingungen arbeiten und besondere Forschungsleistungen erbringen.</p>
    </div>
    <div class="submenuli">
      <ul>
        <li><a href="research.php">Übersicht</a></li>
        <li><a href="#">Fachgebiete</a></li>
        <li><a href="#">Research School</a></li>
        <li><a href="#">Future SOC Lab</a></li>
        <li><a href="#">Design Thinking Research Programm</a></li>
        <li><a href="#">Publikationen</a></li>
        <li><a href="#">Projekte</a></li>
        <li><a href="#">Kooperationen & Partner</a></li>
    </ul>
    </div>
    <div class="subsubmenu">
        <ul>
          <li><a href="#">Fachgebiet</a></li>
          <li><a href="#">Enterprise Platform and Integration Concepts</a></li>
          <li><a href="#">Internet-Technologien und -Systeme</a></li>
          <li><a href="#">Human Computer Interaction</a></li>
          <li><a href="#">Computergrafische Systeme</a></li>
          <li><a href="#">Betriebssysteme und Middleware</a></li>
          <li><a href="#">Business Process Technology</a></li>
          <li><a href="#">Software-Architekturen</a></li>
          <li><a href="#">Informationssysteme</a></li>
          <li><a href="#">Systemanalyse und Modellierung</a></li>
          <li><a href="#">School of Design Thinking</a></li>
        </ul>
         <ul>
          <li><a href="#">Research School</a></li>
        </ul>
        <ul>
          <li><a href="#">Future SOC Lab</a></li>
          <li><a href="#">Call for Projects</a></li>
          <li><a href="#">Partner</a></li>
        </ul>
         <ul>
          <li><a href="#">Design Thinking Research Programm</a></li>
          <li><a href="#">Programm</a></li>
          <li><a href="#">Publikationen</a></li>
          <li><a href="#">Bücher</a></li>
          <li><a href="#">Workshops</a></li>
        </ul>
        <ul>
          <li><a href="research_publications.php">Publikationen</a></li>
        </ul>
        <ul>
          <li><a href="#">Projekte</a></li>
        </ul>
        <ul>
          <li><a href="#">Kooperationen & Partner</a></li>
          <li><a href="#">Projektpartner</a></li>
          <li><a href="#">Wissenschaftliche Kooperationspartner</a></li>
          <li><a href="#">Strategische Wissenschaftspartner</a></li>
          <li><a href="#">Strategische Wirtschaftspartner</a></li>
          <li><a href="#">Netzwerke und Verbände</a></li>
        </ul>
      </div>
    </div>
</div>


<!-- HPI menu -->
<div class="submenu theme4">
  <div class="clearfix">
    <div>
      <p>Die Lehre am Hasso-Plattner-Institut richtet sich an begabte junge Leute, die praxisnah zu IT-Ingenieuren ausgebildet werden wollen. Als universitäres Exzellenz-Center für IT-Systems Engineering mit Standorten in Potsdam und Palo Alto (USA) betreiben wir, gefördert von der dynamischen Stifterpersönlichkeit Professor Hasso Plattner, erstklassige Forschung - auch für renommierte Auftraggeber aus der Wirtschaft...</p>
    </div>
    <div class="submenuli">
      <ul>
        <li><a href="#">Übersicht</a></li>
        <li><a href="#">Das Studium am HPI</a></li>
        
    </ul>
    </div>
    <div class="subsubmenu">
        <ul>
          <li><a href="#">Das Studium am HPI</a></li>
        </ul>
        
      </div>
    </div>
</div>

<div class="submenu theme5">
  <div class="clearfix">
    <div>
      <p>Auf dieser Seite finden Sie unsere aktuellen Pressemitteilungen.</p>
<p>Zur Aufnahme in den Presseverteiler des Hasso-Plattner-Instituts senden Sie bitte eine E-Mail an <a href="">presse@hpi.uni-potsdam.de</a>.</p>
    </div>
    <div class="submenuli">
      <ul>
        <li><a href="press.php">Übersicht</a></li>
        <li><a href="#">HP-TV</a></li>
        
    </ul>
    </div>
    <div class="subsubmenu">
        <ul>
          <li><a href="press_hpi_tv.php">HPI-TV</a></li>
        </ul>
        
      </div>
    </div>
</div>



<!-- END menus -->

<div class="container">
  <div class="wrapper-14 teaser">
    <%= yield  %>
  </div>
</div>


  
<footer>
  <div class="container">
    <div>
    <ul class="footer-links">
      <li>Copyright Hasso-Plattner-Institut 2014</li>
      <li><a href="">Impressum</a></li>
      <li><a href="">Kontakt</a></li>
      <li><a href="">Sitemap</a></li>
    </ul>
    </div>
  </div>
</footer>

  </body>
</html>
