<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "HpiHiwiPortal" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <%= link_to image_tag("hpi-logo.png", :class=>"logo") + "HpiHiwiPortal", root_path, :class =>"navbar-brand" %>
      </div>
      <div class="container navbar-collapse">
        
        <!-- left -->
        <ul class="nav navbar-nav">
          <li><%= link_to t('layouts.job_offers'), job_offers_path  %></li>
          <% if user_signed_in? %>
            <%= render :partial => "layouts/navigation/#{current_user.role.name.downcase}" %>
          <% end %>
        </ul>

        <!-- right -->
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <strong><%= "#{current_user.firstname} #{current_user.lastname}"%></strong>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  <li><%= link_to t('layouts.my_profile'), current_user %></li>
                  <% if current_user.employer%>
                    <li><%= link_to t('layouts.my_chair'), current_user.employer %></li>
                  <% end %>
                  <li><%= link_to t("layouts.logout"), destroy_user_session_path, method: :delete %>
                </ul>
            </li>
            
            <li> <a href="<%= user_path(current_user) %>" class="profile-picture">
              <div class="center-cropped thumbnail" 
                 style="background-image: url('<%= "http://#{request.host_with_port}/#{current_user.photo.url}" %>');">
                  <%= image_tag(current_user.photo.url, size: "100")  %>
              </div></a>
            </li>

            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!-- <span class="caret"></span> -->
                <i class="<%= @flagnames[I18n.locale] %>"></i> <%= I18n.locale %>
              </a>
              <ul class="dropdown-menu">
                <% I18n.available_locales.each do |l| %>
                  <li> <%= link_to raw("<i class=#{@flagnames[l]}></i> #{l}"), :locale=>l%></li>
                <% end %>
                <!-- <li><a href="#"><i class="famfamfam-flag-de"></i> Deutsch</a></li> -->
                <!-- <li><a href="#"><i class="famfamfam-flag-gb"></i> English</a></li> -->
            </ul>
          </li>
          <% else %>
            <li><%= link_to t("layouts.login"), new_user_session_path %> </li>
          <% end %>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <%= render 'shared/flash_messages' %>

          <%= yield %>
        </div>
      </div><!--/row-->

      
      <div id="footer" class="navbar navbar-default navbar-fixed-bottom" style="text-align: center;">
        <p>
          <tr>
            <td>&copy; <%= t("layouts.project") %></td>
            <td>|</td>
            <td><%= link_to t("layouts.faqs"), faqs_path %></td>
            <td>|</td>
            <td><%= link_to t("layouts.imprint"), imprint_index_path %></td>
            <% if !user_signed_in? %>
            <td>|</td>
            <td>You are an company and want to offer jobs to HPI-students? Please contact <%= mail_to "hpi.hiwi.portal@gmail.com" %>
            <% end %>
            </td>
          </tr>
        </p>
      </div>
    </div> <!-- /container -->

  </body>
</html>