<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title><%= content_for?(:title) ? yield(:title) : "HpiHiwiPortal" %></title>

<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>

<script type="text/javascript" src="http://fast.fonts.net/jsapi/350d1b28-d257-4734-8083-4bd737fa0c7c.js"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster - placed here only for testing th compenentes easier-->
</head>
<body class="subpage accent3 "><div class="headbg">
  <div class="headtop">
    <div class="smallheader headwrapper">
      <h1><a href="">HPI Job-Portal</a></h1>
    </div>
     <div class="subsitebackhead">
      <div>
        <h1><a href="http://www.hpi.uni-potsdam.de/"><%= image_tag("hpi_header_logo_neg_srgb.png", alt: "Hasso-Plattner-Institut") %></a>
        
          <div id="social">
              <a href="" class="facebook" class="facebook" alt="facebook"></a>
              <a href="" class="twitter" class="twitter" alt="twitter"></a>
              <a href="" class="rss" class="rss" alt="rss"></a>
              <a href="" class="youtube" class="youtube" alt="youtube"></a>
              <a href="" class="vimeo" class="vimeo" alt="vimeo"></a>
              <ul class="lang_switcher">
                <li><span>de</span></li>
                <li><a href="#0">en</a></li>
              </ul>
          </div>

        </h1>
      </div>
       
     </div>
    <div class="bigheader"><div id="csshack_header_image">
        <a href="index.htm"><%= image_tag("hpi_logo_fb_InternetTechnologien_web80.png", alt:"") %></a>  
      </div>
  </div>
 </div>

  <div class="headbottom">
    <div id="head_bottom" class="collapse navbar-collapse">
    <!-- left -->
              <% if user_signed_in? %>
                <%= render :partial => "layouts/navigation/#{current_user.role.name.downcase}" %>
              <% end %>
      <!-- <ul id="site_nav" class="site_nav">
        <li><a href="#0" class="menu1">Lehrstuhl</a></li>
        <li class="active"><a href="#0" class="menu2">Lehre</a></li>
        <li><a href="#0" class="menu3">Security Tech</a></li>
        <li><a href="#0" class="menu4">Kowledge Tech</a></li>
        <li><a href="#0" class="menu5">Labs & Systems</a></li>
        <li><a href="#0" class="">Publikationen</a></li>
        <li class="search"><form><input type="text" placeholder="Suchbegriff"><button class="btn btn-default btn-xs">Suchen</button></form></li>
      </ul> -->
    </div>
  </div>
</div>


<div class="container">
      <%= yield %>
</div>


  
<footer>
  <div class="container">
    <div>
    <ul class="footer-links">
      <li>Copyright Hasso-Plattner-Institut 2014</li>
      <li><a href="">Impressum</a></li>
      <li><a href="">Kontakt</a></li>
      <li><a href="">Sitemap</a></li>
    </ul>
    </div>
  </div>
</footer>

  </body>
</html>
