<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title><%= content_for?(:title) ? yield(:title) : "HPI Connect Jobportal" %></title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>

<script type="text/javascript" src="https://fast.fonts.net/jsapi/350d1b28-d257-4734-8083-4bd737fa0c7c.js"></script>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster - placed here only for testing th compenentes easier-->
</head>
  <body class="subpage accent3">
    <div class="headbg">
      <div class="headtop">
        <div class="smallheader headwrapper">
          <h1><a href="">HPI Connect Jobportal</a></h1>
        </div>
        <div class="subsitebackhead">
          <div>
            <h1><a href="http://www.hpi.uni-potsdam.de/"><%= image_tag("hpi_header_logo_neg_srgb.png", alt: "Hasso-Plattner-Institut") %></a>
              <% if signed_in? %>
                <li class="dropdown menu-dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= "#{current_user.firstname} #{current_user.lastname}" %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <% if current_user.staff? %>
                      <li><%= link_to t('layouts.dashboard'), home_employers_path %></li>
                      <li><%= link_to t('layouts.my_employer'), current_user.manifestation.employer %></li>
                      <li><%= link_to t('layouts.new_offer'), new_job_offer_path %></li>
                    <% elsif current_user.student? %>
                      <li><%= link_to t('layouts.my_profile'), current_user.manifestation %></li>
                    <% end %>
                    <% if current_user.admin? %>
                      <li><%= link_to t('layouts.configuration'), admin_configurable_path %></li>
                    <% end %>
                    <li><%= link_to t("users.settings"), [:edit, current_user] %>
                    <li><%= link_to t("layouts.logout"), signout_path, method: :delete %>
                  </ul>
                </li>
              <% end %>
              <div class="lang-container">
                <ul class="lang_switcher">
                  <li><span><%= (locale != :de) ? (link_to "de", locale: "de") : "de" %></span></li>
                  <li><span><%= (locale != :en) ? (link_to "en", locale: "en") : "en" %></span></li>
                </ul>
              </div>
              <div id="social">
                  <a href="https://www.facebook.com/HassoPlattnerInstitute" target="_blank" class="facebook"></a>
                  <a href="https://twitter.com/HPI_Online" target="_blank" class="twitter"></a>
                  <a href="http://hpi.de/das-hpi/hpi-medien/rss-feeds.html" class="rss">&nbsp;</a>
                  <a href="http://www.youtube.com/hpitv1" target="_blank" class="youtube"></a>
              </div>
            </h1>
          </div>
           
        </div>
        <div class="bigheader">
          <div class="logo-container">
            <a href="<%= root_path %>"><%= image_tag("hpi_logo_srgb_wb_sl1_web80.png", alt:"hpi-career") %></a>  
          </div>
        </div>
      </div>

      <div class="headbottom">
        <div id="head_bottom" class="collapse navbar-collapse">
          <% if signed_in? %>
            <%= render "layouts/navigation/#{current_user.role}" %>
          <% else %>
            <%= render "layouts/navigation/guest" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <%= render 'shared/flash_messages' %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
      
    <footer>
      <div class="container">
        <div>
        <ul class="footer-links">
          <li>Copyright Hasso-Plattner-Institut 2014</li>
          <li><a href="http://hpi.de/impressum.html"><span>Impressum</span></a></li>
          <li><a href="http://hpi.de/kontakt.html"><span>Kontakt</span></a></li>
          <li><a href="http://hpi.de/sitemap.html"><span>Sitemap</span></a></li>
        </ul>
        </div>
      </div>
    </footer>
  
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     
      ga('create', 'UA-49601252-1', 'uni-potsdam.de');
      ga('send', 'pageview');
    </script>
  
    <!-- Modals -->
    <%= yield :modals %>
  </body>
</html>
